Repository dereuromark/cakephp-sandbox: changes, and which Codecov flags are due for each by the changed paths.
All: App, Sandbox Plugin, AuthSandbox Plugin, StateMachineSandbox Plugin

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
        paths:
          - "src/**"
          - "plugins/**/src/**"
    patch:
      default:
        target: auto

# Ignore paths
ignore:
  - "tests/**"
  - "config/**"
  - "webroot/**"
  - "bin/**"
  - "vendor/**"
  - "templates/**"
  - "**/tests/**"

# Component-based coverage
component_management:
  individual_components:
    - component_id: app
      name: App
      paths:
        - "src/**"
    - component_id: sandbox
      name: Sandbox Plugin
      paths:
        - "plugins/Sandbox/src/**"
    - component_id: auth_sandbox
      name: AuthSandbox Plugin
      paths:
        - "plugins/AuthSandbox/src/**"
    - component_id: state_machine_sandbox
      name: StateMachineSandbox Plugin
      paths:
        - "plugins/StateMachineSandbox/src/**"

Add djot sandbox.
  composer.lock
  plugins/Sandbox/templates/Djot/index.php
Due: none

Fix captcha example.
  composer.lock
  config/auth_allow.ini
  plugins/Sandbox/src/Controller/CaptchasController.php
  plugins/Sandbox/tests/TestCase/Controller/CaptchasControllerTest.php
Due: Sandbox Plugin

Fix captcha example.
  plugins/Sandbox/templates/Captchas/index.php
  plugins/Sandbox/templates/Captchas/math.php
  plugins/Sandbox/templates/Captchas/model_less.php
  plugins/Sandbox/templates/element/navigation/captchas.php
Due: none

Fix CS
  composer.json
  composer.lock
  config/app_custom.php
  plugins/Sandbox/src/Controller/AuditStashController.php
  plugins/Sandbox/src/Controller/BouncerExamplesController.php
  plugins/Sandbox/src/Controller/CakeExamplesController.php
  plugins/Sandbox/src/Controller/DecimalExamplesController.php
  plugins/Sandbox/src/Controller/FileStorageExamplesController.php
  plugins/Sandbox/src/FileStorage/Processor/PdfThumbnailProcessor.php
  plugins/Sandbox/tests/TestCase/Model/Filter/ProductsCollectionTest.php
  plugins/Sandbox/tests/TestCase/Model/Filter/SandboxPostsCollectionTest.php
  src/Http/Middleware/DemoRateLimitMiddleware.php
  tests/TestCase/Controller/ExportControllerTest.php
  tests/bootstrap.php
Due: App, Sandbox Plugin

Fix CS
  composer.json
  composer.lock
Due: none

Add djot sandbox.
  plugins/Sandbox/templates/Djot/index.php
Due: none

Add djot sandbox.
  composer.lock
  plugins/Sandbox/src/Controller/DjotController.php
  plugins/Sandbox/templates/Djot/index.php
Due: Sandbox Plugin

Add djot sandbox.
  plugins/Sandbox/src/Controller/DjotController.php
  plugins/Sandbox/templates/Djot/index.php
Due: Sandbox Plugin

Add djot sandbox.
  composer.lock
  plugins/Sandbox/src/Controller/DjotController.php
  plugins/Sandbox/templates/Djot/index.php
  plugins/Sandbox/tests/TestCase/Controller/DjotControllerTest.php
Due: Sandbox Plugin

djot sandbox soft break.
  composer.json
  composer.lock
  plugins/Sandbox/src/Controller/DjotController.php
  plugins/Sandbox/templates/Djot/index.php
Due: Sandbox Plugin

djot sandbox soft break.
  composer.lock
Due: none

djot sandbox signif newlines.
  build.sh
  composer.json
  composer.lock
  plugins/Sandbox/src/Controller/DjotController.php
  plugins/Sandbox/templates/Djot/index.php
  pull.sh
Due: Sandbox Plugin

djot sandbox signif newlines.
  composer.json
  composer.lock
Due: none

djot sandbox no filter.
  composer.lock
  plugins/Sandbox/src/Controller/DjotController.php
  plugins/Sandbox/templates/Djot/index.php
Due: Sandbox Plugin

DjotController: Allow <ol start="…" value="…">
  plugins/Sandbox/src/Controller/DjotController.php
Due: Sandbox Plugin

DjotController: Allow <ol start="…" value="…"> (#100)
  plugins/Sandbox/src/Controller/DjotController.php
Due: Sandbox Plugin

DjotController: Allow <ol start="…" type="…"> instead
  plugins/Sandbox/src/Controller/DjotController.php
Due: Sandbox Plugin

djot sandbox update.
  plugins/Sandbox/src/Controller/BouncerExamplesController.php
  plugins/Sandbox/src/Controller/DjotController.php
Due: Sandbox Plugin

djot sandbox update.
  plugins/Sandbox/src/Controller/DjotController.php
Due: Sandbox Plugin

Fix annotation.
  src/Model/Entity/AuditLog.php
Due: App

Fix sanitizer.
  plugins/Sandbox/src/Controller/DjotController.php
Due: Sandbox Plugin

Fix djot.
  composer.lock
Due: none

Fix mobile rendering.
  templates/layout/default.php
Due: none

Djot markup examples.
  composer.lock
  plugins/Sandbox/src/Controller/MarkupExamplesController.php
  plugins/Sandbox/templates/Djot/index.php
  plugins/Sandbox/templates/MarkupExamples/djot.php
  plugins/Sandbox/templates/MarkupExamples/djot_view.djot
  plugins/Sandbox/templates/MarkupExamples/index.php
  plugins/Sandbox/templates/element/navigation/markup.php
  plugins/Sandbox/tests/TestCase/Controller/DjotControllerTest.php
  plugins/Sandbox/tests/TestCase/Controller/MarkupExamplesControllerTest.php
Due: Sandbox Plugin

Fix link.
  plugins/Sandbox/templates/MarkupExamples/markup.php
Due: none

Fix annotations.
  src/View/AppView.php
Due: App

Converter showcasing.
  composer.lock
  plugins/Sandbox/src/Controller/DjotController.php
  plugins/Sandbox/templates/Djot/html_to_djot.php
  plugins/Sandbox/templates/Djot/index.php
  plugins/Sandbox/templates/Djot/markdown_to_djot.php
  plugins/Sandbox/tests/TestCase/Controller/DjotControllerTest.php
Due: Sandbox Plugin

Converter showcasing.
  composer.lock
  plugins/Sandbox/templates/Djot/index.php
Due: none

Converter showcasing.
  templates/element/navigation.php
Due: none

Converter showcasing.
  composer.lock
Due: none

Converter showcasing.
  composer.lock
  plugins/Sandbox/templates/Djot/html_to_djot.php
Due: none

Converter showcasing.
  composer.lock
  plugins/Sandbox/src/Controller/DjotController.php
  plugins/Sandbox/templates/Djot/index.php
Due: Sandbox Plugin

Converter showcasing.
  plugins/Sandbox/src/Controller/DjotController.php
  plugins/Sandbox/templates/Djot/complex_examples.php
  plugins/Sandbox/templates/Djot/html_to_djot.php
  plugins/Sandbox/templates/Djot/index.php
  plugins/Sandbox/templates/Djot/markdown_to_djot.php
  plugins/Sandbox/templates/element/navigation/djot.php
  plugins/Sandbox/tests/TestCase/Controller/DjotControllerTest.php
Due: Sandbox Plugin

Fix tests.
  plugins/Sandbox/templates/Djot/complex_examples.php
  plugins/Sandbox/tests/Fixture/BouncerRecordsFixture.php
  plugins/Sandbox/tests/TestCase/Controller/BouncerExamplesControllerTest.php
Due: none
