Repository dereuromark/cakephp-sandbox: changes, and which Codecov flags are due for each by the changed paths.
All: App, Sandbox Plugin, AuthSandbox Plugin, StateMachineSandbox Plugin

Fix tests.
  src/Model/Entity/AuditLog.php
Due: App

Fix tests.
  composer.lock
  plugins/Sandbox/src/Controller/AuditStashController.php
  plugins/Sandbox/src/Controller/BouncerExamplesController.php
  plugins/Sandbox/templates/AuditStash/index.php
  plugins/Sandbox/templates/AuditStash/view_log.php
  plugins/Sandbox/templates/Djot/complex_examples.php
  plugins/Sandbox/templates/Djot/index.php
  plugins/Sandbox/webroot/js/hljs-djot.js
  src/Model/Enum/AuditLogType.php
  src/Model/Table/AuditLogsTable.php
Due: App, Sandbox Plugin

Noindex.
  plugins/Sandbox/src/Controller/MarkupExamplesController.php
Due: Sandbox Plugin

Update dep.
  composer.lock
Due: none

Add buttons.
  plugins/Sandbox/templates/Djot/index.php
Due: none

Add buttons.
  composer.json
  plugins/Sandbox/templates/Djot/index.php
  plugins/Sandbox/webroot/js/hljs-djot.js
Due: none

Add Djot extensions showcase page.
  plugins/Sandbox/src/Controller/DjotController.php
  plugins/Sandbox/templates/Djot/extensions.php
  plugins/Sandbox/templates/element/navigation/djot.php
  plugins/Sandbox/tests/TestCase/Controller/DjotControllerTest.php
Due: Sandbox Plugin

Lock update.
  composer.lock
Due: none

Migrations update.
  composer.json
  composer.lock
  config/app_custom.php
Due: none

Migrations update.
  config/app_custom.php
Due: none

Allow multiple dd in djot.
  composer.json
  composer.lock
  plugins/Sandbox/templates/Djot/complex_examples.php
Due: none

Allow multiple dd in djot.
  composer.lock
  plugins/Sandbox/templates/Djot/complex_examples.php
Due: none

Allow multiple dd in djot.
  plugins/Sandbox/templates/Djot/complex_examples.php
Due: none

Update DTO examples.
  composer.json
  composer.lock
  config/auth_allow.ini
  plugins/Sandbox/files/Demo/simple_product.json
  plugins/Sandbox/files/Demo/user_schema.json
  plugins/Sandbox/src/Controller/DtoExamplesController.php
  plugins/Sandbox/src/Dto/Github/BaseDto.php
  plugins/Sandbox/src/Dto/Github/HeadDto.php
  plugins/Sandbox/src/Dto/Github/LabelDto.php
  plugins/Sandbox/src/Dto/Github/PullRequestDto.php
  plugins/Sandbox/src/Dto/Github/RepoDto.php
  plugins/Sandbox/src/Dto/Github/UserDto.php
  plugins/Sandbox/templates/DtoExamples/generator.php
  templates/plugin/CakeDto/Admin/Generate/schema.php
Due: Sandbox Plugin

Update DTO examples.
  composer.json
  composer.lock
  plugins/Sandbox/src/Dto/Github/BaseDto.php
  plugins/Sandbox/src/Dto/Github/HeadDto.php
  plugins/Sandbox/src/Dto/Github/LabelDto.php
  plugins/Sandbox/src/Dto/Github/PullRequestDto.php
  plugins/Sandbox/src/Dto/Github/RepoDto.php
  plugins/Sandbox/src/Dto/Github/UserDto.php
  templates/plugin/CakeDto/Admin/Generate/schema.php
Due: Sandbox Plugin

Update DTO examples.
  composer.lock
  plugins/Sandbox/src/Dto/Github/BaseDto.php
  plugins/Sandbox/src/Dto/Github/HeadDto.php
  plugins/Sandbox/src/Dto/Github/LabelDto.php
  plugins/Sandbox/src/Dto/Github/PullRequestDto.php
  plugins/Sandbox/src/Dto/Github/RepoDto.php
  plugins/Sandbox/src/Dto/Github/UserDto.php
Due: Sandbox Plugin

Update DTO examples.
  composer.lock
  plugins/Sandbox/templates/DtoExamples/github.php
Due: none

Add phpstan-ignore for createFromArray parameter type narrowing in DTOs
  plugins/Sandbox/src/Dto/Github/BaseDto.php
  plugins/Sandbox/src/Dto/Github/HeadDto.php
  plugins/Sandbox/src/Dto/Github/LabelDto.php
  plugins/Sandbox/src/Dto/Github/PullRequestDto.php
  plugins/Sandbox/src/Dto/Github/RepoDto.php
  plugins/Sandbox/src/Dto/Github/UserDto.php
Due: Sandbox Plugin

Add hint icon for warning suggestions in Djot playground
  plugins/Sandbox/templates/Djot/index.php
Due: none

Update DTOs to use abstract method pattern from php-collective/dto
  phpstan.neon
  plugins/Sandbox/src/Dto/Github/BaseDto.php
  plugins/Sandbox/src/Dto/Github/HeadDto.php
  plugins/Sandbox/src/Dto/Github/LabelDto.php
  plugins/Sandbox/src/Dto/Github/PullRequestDto.php
  plugins/Sandbox/src/Dto/Github/RepoDto.php
  plugins/Sandbox/src/Dto/Github/UserDto.php
Due: Sandbox Plugin

Add column, category and suggestion to warning response
  plugins/Sandbox/src/Controller/DjotController.php
Due: Sandbox Plugin

Update composer.lock
  composer.lock
Due: none

Update DTO examples.
  composer.lock
  phpstan.neon
  plugins/Sandbox/src/Dto/Github/BaseDto.php
  plugins/Sandbox/src/Dto/Github/HeadDto.php
  plugins/Sandbox/src/Dto/Github/LabelDto.php
  plugins/Sandbox/src/Dto/Github/PullRequestDto.php
  plugins/Sandbox/src/Dto/Github/RepoDto.php
  plugins/Sandbox/src/Dto/Github/UserDto.php
Due: Sandbox Plugin

Update DTO examples.
  composer.json
  composer.lock
  plugins/Sandbox/src/Dto/Github/PullRequestDto.php
Due: Sandbox Plugin

Update dependencies.
  composer.json
  composer.lock
Due: none

Add DTO projection demo with projectAs() examples
  composer.json
  composer.lock
  config/auth_allow.ini
  config/dto/projection.dto.xml
  src/Controller/DtoProjectionController.php
  src/Dto/ArticleBenchmarkDto.php
  src/Dto/AuthorBenchmarkDto.php
  src/Dto/CommentBenchmarkDto.php
  src/Dto/PostDto.php
  src/Dto/RoleProjectionDto.php
  src/Dto/SimpleRoleDto.php
  src/Dto/SimpleUserDto.php
  src/Dto/TagDto.php
  src/Dto/TaggedDto.php
  src/Dto/UserProjectionDto.php
  src/Dto/UserSimpleProjectionDto.php
  templates/DtoProjection/belongs_to_many.php
  templates/DtoProjection/benchmark.php
  templates/DtoProjection/has_many.php
  templates/DtoProjection/index.php
  templates/DtoProjection/matching.php
Due: App

Add MiscController dtoProjection action with original POC demo
  src/Controller/MiscController.php
  templates/Misc/dto_projection.php
Due: App

Add _matchingData example to matching() demo
  src/Controller/DtoProjectionController.php
  src/Dto/UserWithMatchingDto.php
  templates/DtoProjection/matching.php
Due: App

Add typed DTO option for _matchingData
  src/Controller/DtoProjectionController.php
  src/Dto/MatchingDataDto.php
  src/Dto/UserWithMatchingDtoTyped.php
  templates/DtoProjection/matching.php
Due: App

Update dependencies for PHP 8.4 compatibility
  composer.json
  composer.lock
  plugins/Sandbox/templates/PluginExamples/index.php
  src/Application.php
  templates/Overview/index.php
  templates/element/navigation.php
Due: App

Update dependencies, remove fig-r/psr2r-sniffer
  composer.json
  composer.lock
Due: none

Add healthcheck permissions for superadmin
  config/auth_acl.ini
Due: none

Fix search examples.
  plugins/Sandbox/src/Controller/SearchExamplesController.php
  plugins/Sandbox/tests/TestCase/Controller/SearchExamplesControllerTest.php
Due: Sandbox Plugin

Add FrankenPHP indicator to footer
  .gitignore
  composer.json
  composer.lock
  config/Seeds/ProductsSeed.php
  config/auth_allow.ini
  config/bootstrap.php
  config/plugins.php
  plugins/Sandbox/src/Controller/MercureExamplesController.php
  plugins/Sandbox/src/Dto/Github/BaseDto.php
  plugins/Sandbox/src/Dto/Github/HeadDto.php
  plugins/Sandbox/src/Dto/Github/LabelDto.php
  plugins/Sandbox/src/Dto/Github/PullRequestDto.php
  plugins/Sandbox/src/Dto/Github/RepoDto.php
  plugins/Sandbox/src/Dto/Github/UserDto.php
  plugins/Sandbox/templates/MercureExamples/authorization.php
  plugins/Sandbox/templates/MercureExamples/index.php
  plugins/Sandbox/templates/MercureExamples/publishing.php
  plugins/Sandbox/templates/MercureExamples/subscription.php
  plugins/Sandbox/templates/PluginExamples/index.php
  plugins/Sandbox/templates/element/navigation/mercure.php
  plugins/Sandbox/tests/TestCase/Controller/MercureExamplesControllerTest.php
  templates/layout/default.php
Due: Sandbox Plugin

Add queue example.
  config/bootstrap.php
  plugins/Sandbox/src/Controller/MercureExamplesController.php
  plugins/Sandbox/src/Queue/Task/MercureProgressExampleTask.php
  plugins/Sandbox/templates/MercureExamples/queue_progress.php
  plugins/Sandbox/templates/element/navigation/mercure.php
  plugins/Sandbox/tests/TestCase/Controller/MercureExamplesControllerTest.php
Due: Sandbox Plugin

Add queue example.
  plugins/Sandbox/tests/TestCase/Controller/MercureExamplesControllerTest.php
Due: none

Path conditions:
  App: any of: src/**, but not: tests/**, config/**, webroot/**, bin/**, vendor/**, templates/**, **/tests/**
  Sandbox Plugin: any of: plugins/Sandbox/src/**, but not: tests/**, config/**, webroot/**, bin/**, vendor/**, templates/**, **/tests/**
  AuthSandbox Plugin: any of: plugins/AuthSandbox/src/**, but not: tests/**, config/**, webroot/**, bin/**, vendor/**, templates/**, **/tests/**
  StateMachineSandbox Plugin: any of: plugins/StateMachineSandbox/src/**, but not: tests/**, config/**, webroot/**, bin/**, vendor/**, templates/**, **/tests/**
