Repository dereuromark/cakephp-sandbox: changes, and which Codecov flags are due for each by the changed paths.
All: App, Sandbox Plugin, AuthSandbox Plugin, StateMachineSandbox Plugin

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto

# Make sure codecov understands your directory structure
fixes:
  - "src/::"
  - "plugins/*/src/::"

# Ignore paths
ignore:
  - "tests"
  - "config"
  - "webroot"
  - "bin"
  - "vendor"
  - "templates"

# Component-based coverage
component_management:
  individual_components:
    - component_id: "app"
      name: "App"
      paths:
        - src/**
    - component_id: "sandbox"
      name: "Sandbox Plugin"
      paths:
        - plugins/Sandbox/src/**
    - component_id: "auth_sandbox"
      name: "AuthSandbox Plugin"
      paths:
        - plugins/AuthSandbox/src/**
    - component_id: "state_machine_sandbox"
      name: "StateMachineSandbox Plugin"
      paths:
        - plugins/StateMachineSandbox/src/**

Add basic uploading examples.
  .gitignore
  composer.json
  composer.lock
  config/auth_allow.ini
  config/plugins.php
  plugins/Sandbox/src/Controller/FileStorageExamplesController.php
  plugins/Sandbox/src/FileStorage/Processor/ConditionalImageProcessor.php
  plugins/Sandbox/src/Validation/FileUploadValidator.php
  plugins/Sandbox/templates/FileStorageExamples/files.php
  plugins/Sandbox/templates/FileStorageExamples/images.php
  plugins/Sandbox/templates/FileStorageExamples/index.php
  plugins/Sandbox/templates/FileStorageExamples/pdfs.php
  plugins/Sandbox/templates/FileStorageExamples/variants.php
  plugins/Sandbox/templates/PluginExamples/index.php
  plugins/Sandbox/templates/element/navigation/file_storage.php
  plugins/Sandbox/tests/TestCase/Controller/FileStorageExamplesControllerTest.php
Due: Sandbox Plugin

Add basic uploading examples.
  composer.json
  composer.lock
  plugins/Sandbox/src/Controller/FileStorageExamplesController.php
  plugins/Sandbox/src/FileStorage/Processor/PdfThumbnailProcessor.php
  plugins/Sandbox/src/FileStorage/Processor/UnifiedFileProcessor.php
  plugins/Sandbox/src/Validation/FileUploadValidator.php
  plugins/Sandbox/templates/FileStorageExamples/pdfs.php
  plugins/Sandbox/tests/TestCase/Controller/FileStorageExamplesControllerTest.php
Due: Sandbox Plugin

Add basic uploading examples.
  tests/bootstrap.php
Due: none

Add basic uploading examples.
  composer.lock
  plugins/Sandbox/src/Controller/FileStorageExamplesController.php
  plugins/Sandbox/src/Validation/FileUploadValidator.php
  plugins/Sandbox/tests/TestCase/Controller/FileStorageExamplesControllerTest.php
Due: Sandbox Plugin

Add basic uploading examples.
  plugins/Sandbox/src/Controller/FileStorageExamplesController.php
  plugins/Sandbox/src/Validation/FileUploadValidator.php
  plugins/Sandbox/tests/TestCase/Controller/FileStorageExamplesControllerTest.php
Due: Sandbox Plugin

Prepare for file-storage 1.0.0 release
  composer.json
Due: none

Add basic uploading examples.
  composer.json
  composer.lock
Due: none

Add basic uploading examples.
  composer.lock
  config/app_custom.php
  plugins/Sandbox/templates/FileStorageExamples/index.php
Due: none

Add basic uploading examples.
  .github/workflows/ci.yml
  plugins/Sandbox/tests/TestCase/Controller/FileStorageExamplesControllerTest.php
Due: none

Add basic uploading examples.
  plugins/Sandbox/tests/TestCase/Controller/FileStorageExamplesControllerTest.php
Due: none

Add basic uploading examples. (#96)
  .github/workflows/ci.yml
  .gitignore
  composer.json
  composer.lock
  config/app_custom.php
  config/auth_allow.ini
  config/plugins.php
  plugins/Sandbox/src/Controller/FileStorageExamplesController.php
  plugins/Sandbox/src/FileStorage/Processor/ConditionalImageProcessor.php
  plugins/Sandbox/src/FileStorage/Processor/PdfThumbnailProcessor.php
  plugins/Sandbox/src/FileStorage/Processor/UnifiedFileProcessor.php
  plugins/Sandbox/src/Validation/FileUploadValidator.php
  plugins/Sandbox/templates/FileStorageExamples/files.php
  plugins/Sandbox/templates/FileStorageExamples/images.php
  plugins/Sandbox/templates/FileStorageExamples/index.php
  plugins/Sandbox/templates/FileStorageExamples/pdfs.php
  plugins/Sandbox/templates/FileStorageExamples/variants.php
  plugins/Sandbox/templates/PluginExamples/index.php
  plugins/Sandbox/templates/element/navigation/file_storage.php
  plugins/Sandbox/tests/TestCase/Controller/FileStorageExamplesControllerTest.php
  tests/bootstrap.php
Due: Sandbox Plugin

Update queue configs.
  composer.json
  composer.lock
  config/app_custom.php
  config/auth_acl.ini
  config/plugins.php
Due: none

Update queue configs.
  config/app_custom.php
Due: none

Update queue configs.
  composer.json
  composer.lock
Due: none

Fix up file storage init.
  composer.json
Due: none

Coverage.
  .codecov.yml
  .github/workflows/ci.yml
Due: none

Coverage.
  phpunit.xml.dist
Due: none

Coverage.
  .github/workflows/ci.yml
  phpunit.xml.dist
Due: none

Coverage.
  .github/workflows/ci.yml
Due: none

Coverage.
  plugins/Sandbox/tests/TestCase/Controller/FileStorageExamplesControllerTest.php
Due: none

Drag and Drop file upload.
  plugins/Sandbox/src/Controller/FileStorageExamplesController.php
  plugins/Sandbox/templates/FileStorageExamples/index.php
  plugins/Sandbox/templates/element/navigation/file_storage.php
  plugins/Sandbox/tests/TestCase/Controller/FileStorageExamplesControllerTest.php
Due: Sandbox Plugin

Drag and Drop file upload.
  plugins/Sandbox/tests/TestCase/Controller/FileStorageExamplesControllerTest.php
Due: none

Drag and Drop file upload.
  plugins/Sandbox/templates/FileStorageExamples/drag_drop_upload.php
Due: none

Drag and Drop file upload. Cropping demo.
  composer.json
  composer.lock
  plugins/Sandbox/src/Controller/FileStorageExamplesController.php
  plugins/Sandbox/templates/FileStorageExamples/drag_drop_upload.php
  plugins/Sandbox/templates/FileStorageExamples/images.php
  plugins/Sandbox/templates/FileStorageExamples/index.php
  plugins/Sandbox/templates/element/navigation/file_storage.php
  plugins/Sandbox/tests/TestCase/Controller/FileStorageExamplesControllerTest.php
Due: Sandbox Plugin

Drag and Drop file upload. Cropping demo.
  plugins/Sandbox/src/Controller/FileStorageExamplesController.php
Due: Sandbox Plugin

Drag and Drop file upload. Cropping demo.
  plugins/Sandbox/src/Controller/FileStorageExamplesController.php
  plugins/Sandbox/templates/FileStorageExamples/image_cropping.php
Due: Sandbox Plugin

Update build script to use global composer command
  build.sh
Due: none

Drag and Drop file upload. Cropping demo.
  plugins/Sandbox/templates/FileStorageExamples/drag_drop_upload.php
  plugins/Sandbox/templates/FileStorageExamples/image_cropping.php
Due: none

Add rate limit demo
  composer.json
  plugins/Sandbox/src/Controller/CakeExamplesController.php
  plugins/Sandbox/templates/CakeExamples/paginate_combined_sort.php
  plugins/Sandbox/templates/CakeExamples/rate_limiter.php
  plugins/Sandbox/tests/TestCase/Controller/CakeExamplesControllerTest.php
  src/Application.php
  src/Http/Middleware/DemoRateLimitMiddleware.php
Due: App, Sandbox Plugin

Upgrade TinyAuth v4 to v5.
  .ddev.example/config.yaml
  .github/workflows/ci.yml
  README.md
  SETUP.md
  composer.json
  composer.lock
  config/Seeds/InitSeed.php
  config/app_custom.php
  config/auth_allow.ini
  phpstan.neon
  plugins/AuthSandbox/src/Controller/AuthSandboxController.php
  plugins/AuthSandbox/templates/AuthSandbox/index.php
  plugins/AuthSandbox/templates/AuthSandbox/login.php
  plugins/AuthSandbox/tests/TestCase/Controller/Admin/AuthSandboxControllerTest.php
  plugins/AuthSandbox/tests/TestCase/Controller/AuthSandboxControllerTest.php
  src/Application.php
  src/Controller/AccountController.php
  src/Controller/AppController.php
  src/Controller/ContactController.php
  src/Model/Table/UsersTable.php
  templates/Account/index.php
  tests/TestCase/Controller/AccountControllerTest.php
  tests/TestCase/Controller/Admin/OverviewControllerTest.php
  tests/TestCase/Controller/Admin/UsersControllerTest.php
Due: App, AuthSandbox Plugin

Upgrade TinyAuth v4 to v5.
  composer.lock
Due: none

Upgrade TinyAuth v4 to v5.
  tests/phpstan.neon
Due: none

Upgrade TinyAuth v4 to v5. (#98)
  .ddev.example/config.yaml
  .github/workflows/ci.yml
  README.md
  SETUP.md
  composer.json
  composer.lock
  config/Seeds/InitSeed.php
  config/app_custom.php
  config/auth_allow.ini
  phpstan.neon
  plugins/AuthSandbox/src/Controller/AuthSandboxController.php
  plugins/AuthSandbox/templates/AuthSandbox/index.php
  plugins/AuthSandbox/templates/AuthSandbox/login.php
  plugins/AuthSandbox/tests/TestCase/Controller/Admin/AuthSandboxControllerTest.php
  plugins/AuthSandbox/tests/TestCase/Controller/AuthSandboxControllerTest.php
  src/Application.php
  src/Controller/AccountController.php
  src/Controller/AppController.php
  src/Controller/ContactController.php
  src/Model/Table/UsersTable.php
  templates/Account/index.php
  tests/TestCase/Controller/AccountControllerTest.php
  tests/TestCase/Controller/Admin/OverviewControllerTest.php
  tests/TestCase/Controller/Admin/UsersControllerTest.php
  tests/phpstan.neon
Due: App, AuthSandbox Plugin

Upgrade TinyAuth v4 to v5.
  src/Application.php
Due: App

Upgrade TinyAuth v4 to v5.
  config/auth_acl.ini
Due: none

Fix CS.
  src/Application.php
Due: App

Fix CS.
  templates/Error/error400.php
Due: none
