Repository dereuromark/cakephp-sandbox: changes, and which Codecov flags are due for each by the changed paths.
All: App, Sandbox Plugin, AuthSandbox Plugin, StateMachineSandbox Plugin

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
        paths:
          - "src/**"
          - "plugins/**/src/**"
    patch:
      default:
        target: auto

# Ignore paths
ignore:
  - "tests/**"
  - "config/**"
  - "webroot/**"
  - "bin/**"
  - "vendor/**"
  - "templates/**"
  - "**/tests/**"

# Component-based coverage
component_management:
  individual_components:
    - component_id: app
      name: App
      paths:
        - "src/**"
    - component_id: sandbox
      name: Sandbox Plugin
      paths:
        - "plugins/Sandbox/src/**"
    - component_id: auth_sandbox
      name: AuthSandbox Plugin
      paths:
        - "plugins/AuthSandbox/src/**"
    - component_id: state_machine_sandbox
      name: StateMachineSandbox Plugin
      paths:
        - "plugins/StateMachineSandbox/src/**"

Add reveal title/aria-expanded to blur spoilers
  plugins/Sandbox/templates/Carve/extensions.php
  plugins/Sandbox/templates/Carve/index.php
Due: none

Add code-fence hover pill (language + copy) to Carve demos
  plugins/Sandbox/src/Controller/CarveController.php
  plugins/Sandbox/templates/Carve/extensions.php
  plugins/Sandbox/templates/Carve/index.php
  plugins/Sandbox/templates/element/carve/output_styles.php
Due: Sandbox Plugin

Fix spoiler demo description to state click-to-reveal
  plugins/Sandbox/src/Controller/CarveController.php
Due: Sandbox Plugin

Fix extensions page layout: wrap nav and content in a row
  plugins/Sandbox/templates/Carve/extensions.php
Due: none

fix(ddev): move queue worker from restart-loop daemon to bounded cron
  .ddev/config.frankenphp.yaml
  .ddev/web-build/queue.cron
Due: none

Add more carve demos.
  composer.lock
  plugins/Sandbox/src/Controller/CarveController.php
  plugins/Sandbox/templates/Carve/extensions.php
  plugins/Sandbox/templates/element/navigation/carve.php
Due: Sandbox Plugin

Add more carve demos.
  plugins/Sandbox/templates/Carve/code_blocks.php
Due: none

Rename DJOT heredoc labels to CARVE in complex examples
  plugins/Sandbox/templates/Carve/complex_examples.php
Due: none

Enable WkHtmlToPdf engine on production
  docker/Dockerfile
  plugins/Sandbox/src/Controller/PluginsController.php
Due: Sandbox Plugin

Carve demos: new extensions, configurable color swatch, soft break, graceful degradation
  composer.lock
  plugins/Sandbox/src/Controller/CarveController.php
  plugins/Sandbox/templates/Carve/demo.php
  plugins/Sandbox/templates/Carve/extensions.php
  plugins/Sandbox/templates/Carve/index.php
  plugins/Sandbox/templates/element/carve/output_styles.php
  plugins/Sandbox/templates/element/navigation/carve.php
Due: Sandbox Plugin

Carve extensions: drop removed {collapsible}, add per-extension header anchors
  plugins/Sandbox/src/Controller/CarveController.php
  plugins/Sandbox/templates/Carve/extensions.php
Due: Sandbox Plugin

Wire ColorSwatch reveal option in Carve demo
  composer.lock
  plugins/Sandbox/src/Controller/CarveController.php
  plugins/Sandbox/templates/Carve/extensions.php
  plugins/Sandbox/templates/element/carve/output_styles.php
Due: Sandbox Plugin

Carve demos: add CodeCallouts, citation locators, ColorSwatch contrast
  composer.lock
  plugins/Sandbox/src/Controller/CarveController.php
  plugins/Sandbox/templates/Carve/extensions.php
  plugins/Sandbox/templates/Carve/index.php
  plugins/Sandbox/templates/element/carve/output_styles.php
Due: Sandbox Plugin

CI: bump actions/cache to v5 (Node 24)
  .github/workflows/ci.yml
Due: none

Carve media-embed demos and MarkupCarve\Carve namespace migration
  composer.json
  composer.lock
  plugins/Sandbox/src/Controller/CarveController.php
  plugins/Sandbox/src/Controller/MediaEmbedController.php
  plugins/Sandbox/templates/Carve/media_embed.php
  plugins/Sandbox/templates/MediaEmbed/index.php
  plugins/Sandbox/templates/element/navigation/carve.php
Due: Sandbox Plugin

Bump cakephp-markup to media-embed 1.0-compatible dev-master
  composer.lock
Due: none

Carve media-embed demos + MarkupCarve\Carve namespace migration (#144)
  composer.json
  composer.lock
  plugins/Sandbox/src/Controller/CarveController.php
  plugins/Sandbox/src/Controller/MediaEmbedController.php
  plugins/Sandbox/templates/Carve/media_embed.php
  plugins/Sandbox/templates/MediaEmbed/index.php
  plugins/Sandbox/templates/element/navigation/carve.php
Due: Sandbox Plugin

media embed.
  composer.lock
  plugins/Sandbox/src/Controller/MediaEmbedController.php
  plugins/Sandbox/templates/element/navigation/media_embed.php
Due: Sandbox Plugin

nav links.
  plugins/Sandbox/templates/element/navigation/ajax.php
  plugins/Sandbox/templates/element/navigation/bootstrap.php
  plugins/Sandbox/templates/element/navigation/cache.php
  plugins/Sandbox/templates/element/navigation/cake.php
  plugins/Sandbox/templates/element/navigation/captchas.php
  plugins/Sandbox/templates/element/navigation/comments.php
  plugins/Sandbox/templates/element/navigation/decimal.php
  plugins/Sandbox/templates/element/navigation/dto.php
  plugins/Sandbox/templates/element/navigation/expose.php
  plugins/Sandbox/templates/element/navigation/favorite.php
  plugins/Sandbox/templates/element/navigation/file_storage.php
  plugins/Sandbox/templates/element/navigation/flash.php
  plugins/Sandbox/templates/element/navigation/geo.php
  plugins/Sandbox/templates/element/navigation/jquery.php
  plugins/Sandbox/templates/element/navigation/localized.php
  plugins/Sandbox/templates/element/navigation/markup.php
  plugins/Sandbox/templates/element/navigation/mercure.php
  plugins/Sandbox/templates/element/navigation/qr_code.php
  plugins/Sandbox/templates/element/navigation/queue.php
  plugins/Sandbox/templates/element/navigation/reactions.php
  plugins/Sandbox/templates/element/navigation/search.php
  plugins/Sandbox/templates/element/navigation/tags.php
  plugins/Sandbox/templates/element/navigation/templating.php
  plugins/Sandbox/templates/element/navigation/tools.php
Due: none

Carve/Djot demos: TOC/footnotes placement, list-item attributes, embed source stamp
  plugins/Sandbox/src/Controller/CarveController.php
  plugins/Sandbox/templates/Carve/media_embed.php
  plugins/Sandbox/templates/Djot/complex_examples.php
Due: Sandbox Plugin

composer update.
  composer.lock
Due: none

Carve playground: caret quote attribution, canonical fence, scroll sync between panes
  plugins/Sandbox/templates/Carve/index.php
Due: none

Update dep
  composer.json
  composer.lock
Due: none

Djot playground: scroll sync between editor and output panes
  plugins/Sandbox/templates/Djot/index.php
Due: none

Udate carve
  composer.lock
  plugins/Sandbox/templates/Carve/bbcode_to_carve.php
  plugins/Sandbox/templates/Carve/complex_examples.php
  plugins/Sandbox/templates/Carve/djot_to_carve.php
  plugins/Sandbox/templates/Carve/html_to_carve.php
  plugins/Sandbox/templates/Carve/markdown_to_carve.php
  plugins/Sandbox/templates/Carve/roundtrip.php
Due: none

Lock file
  composer.lock
Due: none

Djot line/pos examples.
  composer.lock
  plugins/Sandbox/src/Controller/DjotController.php
  plugins/Sandbox/templates/Djot/index.php
  plugins/Sandbox/templates/Djot/wysiwyg.php
  plugins/Sandbox/tests/TestCase/Controller/DjotControllerTest.php
Due: Sandbox Plugin

Carve wysiywg updates.
  composer.lock
  plugins/Sandbox/src/Controller/CarveController.php
  plugins/Sandbox/src/Controller/DjotController.php
  plugins/Sandbox/templates/Carve/complex_examples.php
  plugins/Sandbox/templates/Carve/index.php
  plugins/Sandbox/templates/Carve/wysiwyg.php
  plugins/Sandbox/templates/Djot/complex_examples.php
  plugins/Sandbox/templates/Djot/index.php
  plugins/Sandbox/templates/Djot/wysiwyg.php
  plugins/Sandbox/tests/TestCase/Controller/CarveControllerTest.php
  plugins/Sandbox/tests/TestCase/Controller/DjotControllerTest.php
Due: Sandbox Plugin

Cake 5.4
  composer.json
  composer.lock
  plugins/Sandbox/src/View/Helper/MediaEmbedBbcodeHelper.php
  plugins/Sandbox/templates/Calendar/index.php
  plugins/Sandbox/templates/Calendar/view.php
  plugins/Sandbox/templates/QueueExamples/scheduling.php
  plugins/Sandbox/tests/Factory/SandboxCityFactory.php
  plugins/Sandbox/tests/Factory/SandboxRatingFactory.php
  plugins/Sandbox/tests/TestCase/Model/Filter/SandboxPostsCollectionTest.php
  src/Application.php
  src/View/Helper/NavigationHelper.php
  tests/Factory/StateFactory.php
  tests/Factory/UserFactory.php
Due: App, Sandbox Plugin

Djot WYSIWYG: nested cursor sync and a switchable preview renderer
  plugins/Sandbox/templates/Carve/wysiwyg.php
  plugins/Sandbox/templates/Djot/wysiwyg.php
Due: none

Djot WYSIWYG: nested cursor sync and a switchable preview renderer (#145)
  plugins/Sandbox/templates/Carve/wysiwyg.php
  plugins/Sandbox/templates/Djot/wysiwyg.php
Due: none

Bump djot-grammars and carve-grammars pins to serializer round-trip fix
  plugins/Sandbox/templates/Carve/wysiwyg.php
  plugins/Sandbox/templates/Djot/wysiwyg.php
Due: none

Bump djot-grammars and carve-grammars pins to serializer round-trip fix (#146)
  plugins/Sandbox/templates/Carve/wysiwyg.php
  plugins/Sandbox/templates/Djot/wysiwyg.php
Due: none

Add PlantUML, WaveDrom and Vega-Lite diagram examples to the Carve extensions demo
  plugins/Sandbox/src/Controller/CarveController.php
  plugins/Sandbox/templates/Carve/extensions.php
Due: Sandbox Plugin

lock file.
  composer.lock
Due: none

Add Carve chat export and pandoc bridge demos
  composer.json
  composer.lock
  plugins/Sandbox/src/Controller/CarveController.php
  plugins/Sandbox/templates/Carve/chat_export.php
  plugins/Sandbox/templates/Carve/pandoc.php
  plugins/Sandbox/templates/element/navigation/carve.php
  plugins/Sandbox/tests/TestCase/Controller/CarveControllerTest.php
Due: Sandbox Plugin

Add Signal to the chat export demo
  composer.lock
  plugins/Sandbox/templates/Carve/chat_export.php
Due: none

Show rendered previews and style ranges in the chat export demo
  composer.lock
  plugins/Sandbox/src/Controller/CarveController.php
  plugins/Sandbox/templates/Carve/chat_export.php
Due: Sandbox Plugin

Render range-based previews as the single plain-text body they are
  composer.lock
  plugins/Sandbox/templates/Carve/chat_export.php
Due: none

Show range payloads in the chat export demo
  composer.lock
  plugins/Sandbox/templates/Carve/chat_export.php
Due: none
