Repository dereuromark/cakephp-sandbox: changes, and which Codecov flags are due for each by the changed paths.
All: App, Sandbox Plugin, AuthSandbox Plugin, StateMachineSandbox Plugin

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
        paths:
          - "src/**"
          - "plugins/**/src/**"
    patch:
      default:
        target: auto

# Ignore paths
ignore:
  - "tests/**"
  - "config/**"
  - "webroot/**"
  - "bin/**"
  - "vendor/**"
  - "templates/**"
  - "**/tests/**"

# Component-based coverage
component_management:
  individual_components:
    - component_id: app
      name: App
      paths:
        - "src/**"
    - component_id: sandbox
      name: Sandbox Plugin
      paths:
        - "plugins/Sandbox/src/**"
    - component_id: auth_sandbox
      name: AuthSandbox Plugin
      paths:
        - "plugins/AuthSandbox/src/**"
    - component_id: state_machine_sandbox
      name: StateMachineSandbox Plugin
      paths:
        - "plugins/StateMachineSandbox/src/**"

Pick up spoiler and highlight corrections from carve-php-chat
  composer.lock
Due: none

Pick up citation and div-label fixes from carve-php-chat
  composer.lock
Due: none

Pick up node-coverage and tab-label fixes from carve-php-chat
  composer.lock
Due: none

Carve demos: AST inspector, ProseMirror bridge, current engine pins
  composer.json
  composer.lock
  package-lock.json
  package.json
  plugins/Sandbox/src/Controller/CarveController.php
  plugins/Sandbox/templates/Carve/ast.php
  plugins/Sandbox/templates/Carve/index.php
  plugins/Sandbox/templates/Carve/markdown_to_carve.php
  plugins/Sandbox/templates/Carve/pandoc.php
  plugins/Sandbox/templates/Carve/prose_mirror.php
  plugins/Sandbox/templates/Carve/wysiwyg.php
  plugins/Sandbox/templates/element/carve/output_styles.php
  plugins/Sandbox/templates/element/navigation/carve.php
  plugins/Sandbox/tests/TestCase/Controller/CarveControllerTest.php
Due: Sandbox Plugin

Bump carve-php and follow two losses it closed
  composer.lock
  plugins/Sandbox/tests/TestCase/Controller/CarveControllerTest.php
Due: none

Register Mercure's services without a League provider
  config/plugins.php
  src/Plugin/MercurePlugin.php
Due: App

Run on the CakePHP container
  config/app_custom.php
Due: none

Optimize the deploy autoloader instead of making it authoritative
  deploy.sh
Due: none

Adjust carve sandbox.
  composer.json
  composer.lock
  package-lock.json
  package.json
  plugins/Sandbox/src/Controller/CarveController.php
  plugins/Sandbox/templates/Carve/ast.php
  plugins/Sandbox/templates/Carve/pandoc.php
  plugins/Sandbox/tests/TestCase/Controller/CarveControllerTest.php
Due: Sandbox Plugin

Adjust carve sandbox.
  patches/carve-php-chat-render-depth.patch
Due: none

Adjust carve sandbox.
  patches.lock.json
Due: none

Remove composer patches setup
  composer.json
  composer.lock
  patches.lock.json
  patches/carve-php-chat-render-depth.patch
Due: none

Fix runaway scroll sync in the Carve and Djot playgrounds
  plugins/Sandbox/templates/Carve/index.php
  plugins/Sandbox/templates/Carve/wysiwyg.php
  plugins/Sandbox/templates/Djot/index.php
Due: none

Adjust carve sandbox.
  composer.lock
  plugins/Sandbox/src/Controller/CarveController.php
  plugins/Sandbox/templates/Carve/ast.php
  plugins/Sandbox/templates/Carve/complex_examples.php
  plugins/Sandbox/templates/Carve/djot_to_carve.php
  plugins/Sandbox/templates/Carve/html_to_carve.php
  plugins/Sandbox/templates/element/carve/output_styles.php
  plugins/Sandbox/tests/TestCase/Controller/CarveControllerTest.php
Due: Sandbox Plugin

Adjust carve sandbox.
  composer.lock
  plugins/Sandbox/src/Controller/CarveController.php
  plugins/Sandbox/templates/Carve/complex_examples.php
  plugins/Sandbox/templates/Carve/html_to_carve.php
  plugins/Sandbox/templates/element/carve/output_styles.php
  plugins/Sandbox/tests/TestCase/Controller/CarveControllerTest.php
Due: Sandbox Plugin

Adjust carve sandbox.
  composer.lock
  plugins/Sandbox/src/Controller/CarveController.php
  plugins/Sandbox/templates/Carve/complex_examples.php
  plugins/Sandbox/templates/Carve/html_to_carve.php
  plugins/Sandbox/templates/Carve/index.php
  plugins/Sandbox/templates/Carve/pandoc.php
  plugins/Sandbox/templates/Carve/prose_mirror.php
  plugins/Sandbox/templates/Carve/wysiwyg.php
  plugins/Sandbox/tests/TestCase/Controller/CarveControllerTest.php
Due: Sandbox Plugin

Adjust carve sandbox.
  composer.json
  composer.lock
  plugins/Sandbox/src/Controller/CarveController.php
  plugins/Sandbox/templates/Carve/complex_examples.php
  plugins/Sandbox/templates/element/carve/output_styles.php
  plugins/Sandbox/tests/TestCase/Controller/CarveControllerTest.php
Due: Sandbox Plugin

Adjust carve sandbox.
  plugins/Sandbox/templates/Carve/complex_examples.php
  plugins/Sandbox/tests/TestCase/Controller/CarveControllerTest.php
Due: none

Adjust carve sandbox.
  composer.lock
  plugins/Sandbox/src/Controller/CarveController.php
  plugins/Sandbox/templates/Carve/complex_examples.php
  plugins/Sandbox/templates/Carve/html_to_carve.php
  plugins/Sandbox/tests/TestCase/Controller/CarveControllerTest.php
Due: Sandbox Plugin

Adjust carve sandbox.
  composer.lock
  package-lock.json
  package.json
  plugins/Sandbox/src/Controller/CarveController.php
  plugins/Sandbox/templates/Carve/ast.php
  plugins/Sandbox/templates/Carve/code_blocks.php
  plugins/Sandbox/templates/Carve/complex_examples.php
  plugins/Sandbox/templates/Carve/extensions.php
  plugins/Sandbox/templates/Carve/index.php
  plugins/Sandbox/templates/Carve/pandoc.php
  plugins/Sandbox/templates/Carve/prose_mirror.php
  plugins/Sandbox/templates/Carve/roundtrip.php
  plugins/Sandbox/templates/Carve/wysiwyg.php
  plugins/Sandbox/tests/TestCase/Controller/CarveControllerTest.php
Due: Sandbox Plugin

Adjust carve sandbox.
  plugins/Sandbox/templates/Carve/complex_examples.php
  plugins/Sandbox/templates/Carve/index.php
Due: none

Adjust carve sandbox.
  composer.lock
Due: none

Adjust carve sandbox.
  plugins/Sandbox/src/Carve/TreeExtension.php
  plugins/Sandbox/src/Controller/CarveController.php
  plugins/Sandbox/templates/Carve/trees.php
  plugins/Sandbox/templates/element/carve/output_styles.php
  plugins/Sandbox/templates/element/navigation/carve.php
Due: Sandbox Plugin

Adjust carve sandbox.
  package-lock.json
  package.json
  plugins/Sandbox/templates/Carve/trees.php
  plugins/Sandbox/templates/element/carve/output_styles.php
Due: none

Add media-embed 1.1.0 oEmbed examples
  plugins/Sandbox/src/Controller/MediaEmbedController.php
  plugins/Sandbox/templates/MediaEmbed/hosts.php
  plugins/Sandbox/templates/MediaEmbed/index.php
  plugins/Sandbox/templates/MediaEmbed/oembed.php
  plugins/Sandbox/templates/element/navigation/media_embed.php
  plugins/Sandbox/tests/TestCase/Controller/MediaEmbedControllerTest.php
Due: Sandbox Plugin

chore: update the Carve dependencies to the current releases
  composer.json
  composer.lock
  package-lock.json
  package.json
Due: none

chore: update the Carve dependencies to the current releases (#147)
  composer.json
  composer.lock
  package-lock.json
  package.json
Due: none

chore: move the browser-side Carve pins to the same commits as the installed packages
  plugins/Sandbox/templates/Carve/pandoc.php
  plugins/Sandbox/templates/Carve/prose_mirror.php
  plugins/Sandbox/templates/Carve/wysiwyg.php
  plugins/Sandbox/tests/TestCase/Controller/CarveControllerTest.php
Due: none

chore: move the browser-side Carve pins to the same commits as the installed packages (#148)
  plugins/Sandbox/templates/Carve/pandoc.php
  plugins/Sandbox/templates/Carve/prose_mirror.php
  plugins/Sandbox/templates/Carve/wysiwyg.php
  plugins/Sandbox/tests/TestCase/Controller/CarveControllerTest.php
Due: none

fix: resolve node-diff3 for the WYSIWYG editor
  plugins/Sandbox/templates/Carve/wysiwyg.php
Due: none

fix: resolve node-diff3 for the WYSIWYG editor (#149)
  plugins/Sandbox/templates/Carve/wysiwyg.php
Due: none

fix: resolve node-diff3 on the ProseMirror bridge page too
  plugins/Sandbox/templates/Carve/prose_mirror.php
Due: none

fix: resolve node-diff3 on the ProseMirror bridge page too (#150)
  plugins/Sandbox/templates/Carve/prose_mirror.php
Due: none

chore: replace abandoned type-perfect package
  composer.json
  composer.lock
  phpstan.neon
Due: none

Update deps.
  composer.lock
Due: none

Add config-backed Carve include demo
  config/bootstrap.php
  config/carve_snippets.php
  plugins/Sandbox/src/Carve/SnippetCatalogResolver.php
  plugins/Sandbox/src/Controller/CarveController.php
  plugins/Sandbox/templates/Carve/index.php
  plugins/Sandbox/tests/TestCase/Carve/SnippetCatalogResolverTest.php
  plugins/Sandbox/tests/TestCase/Controller/CarveControllerTest.php
Due: Sandbox Plugin

Fix spacing before Carve include demo
  plugins/Sandbox/templates/Carve/index.php
Due: none

Use a real Carve strict mode error
  plugins/Sandbox/templates/Carve/index.php
  plugins/Sandbox/tests/TestCase/Controller/CarveControllerTest.php
Due: none

Add config-backed Carve include demo (#151)
  config/bootstrap.php
  config/carve_snippets.php
  plugins/Sandbox/src/Carve/SnippetCatalogResolver.php
  plugins/Sandbox/src/Controller/CarveController.php
  plugins/Sandbox/templates/Carve/index.php
  plugins/Sandbox/tests/TestCase/Carve/SnippetCatalogResolverTest.php
  plugins/Sandbox/tests/TestCase/Controller/CarveControllerTest.php
Due: Sandbox Plugin
