Repository dereuromark/cakephp-sandbox: changes, and which Codecov flags are due for each by the changed paths.
All: App, Sandbox Plugin, AuthSandbox Plugin, StateMachineSandbox Plugin

Run linter.
  .github/workflows/ci.yml
  composer.lock
Due: none

Run linter.
  composer.lock
Due: none

Run linter.
  .github/workflows/ci.yml
  composer.lock
  plugins/Sandbox/src/Controller/ToolsExamplesController.php
  plugins/Sandbox/templates/DecimalExamples/api.php
  plugins/Sandbox/templates/GeoExamples/filter.php
  plugins/Sandbox/templates/element/comments/comments.php
  plugins/StateMachineSandbox/templates/Registrations/view.php
  src/Controller/PagesController.php
  tests/TestCase/Controller/AccountControllerTest.php
Due: App, Sandbox Plugin

Migrations for CI tools.
  .github/workflows/ci.yml
  composer.json
Due: none

Migrations for CI tools.
  .github/workflows/ci.yml
Due: none

Migrations for CI tools.
  composer.lock
Due: none

Adjust pagination template.
  plugins/Sandbox/src/Controller/CakeExamplesController.php
  plugins/Sandbox/templates/CakeExamples/paginate_combined_sort.php
  plugins/Sandbox/tests/TestCase/Controller/CakeExamplesControllerTest.php
  templates/Overview/index.php
Due: Sandbox Plugin

Adjust pagination template.
  plugins/Sandbox/src/Controller/CakeExamplesController.php
  plugins/Sandbox/templates/CakeExamples/paginate_combined_sort.php
Due: Sandbox Plugin

Adjust pagination template.
  composer.lock
Due: none

Add rate limit demo (#97)
  composer.json
  composer.lock
  plugins/Sandbox/src/Controller/CakeExamplesController.php
  plugins/Sandbox/templates/CakeExamples/paginate_combined_sort.php
  plugins/Sandbox/templates/CakeExamples/rate_limiter.php
  plugins/Sandbox/tests/TestCase/Controller/CakeExamplesControllerTest.php
  src/Application.php
  src/Http/Middleware/DemoRateLimitMiddleware.php
  templates/Overview/index.php
Due: App, Sandbox Plugin

Fix PHPStan.
  plugins/Sandbox/src/Controller/CakeExamplesController.php
Due: Sandbox Plugin

Simplify.
  plugins/Sandbox/templates/CakeExamples/paginate_combined_sort.php
Due: none

Simplify.
  composer.lock
  plugins/Sandbox/src/Controller/CakeExamplesController.php
  plugins/Sandbox/src/Model/Entity/Product.php
  plugins/Sandbox/templates/CakeExamples/paginate_combined_sort.php
  plugins/Sandbox/tests/Fixture/SandboxProductsFixture.php
Due: Sandbox Plugin

Simplify.
  config/Migrations/20251115123153_AddStockToSandboxProducts.php
Due: none

Finish demo.
  composer.json
  composer.lock
Due: none

Finish demo.
  config/Migrations/20251115123153_AddStockToSandboxProducts.php
  plugins/Sandbox/templates/CakeExamples/paginate_combined_sort.php
  plugins/Sandbox/tests/TestCase/Model/Table/ProductsTableTest.php
Due: none

Finish demo.
  plugins/Sandbox/templates/CakeExamples/paginate_combined_sort.php
Due: none

Finish demo.
  plugins/Sandbox/src/Controller/CakeExamplesController.php
  plugins/Sandbox/templates/CakeExamples/paginate_combined_sort.php
Due: Sandbox Plugin

Finish demo.
  composer.lock
Due: none

Fix up phpcs run.
  composer.json
  composer.lock
Due: none

Remove deprecations.
  composer.json
  phpstan.neon
  plugins/Sandbox/src/Controller/CakeExamplesController.php
  plugins/Sandbox/src/Model/Filter/ProductsCollection.php
  plugins/Sandbox/src/Model/Filter/SandboxPostsCollection.php
  plugins/Sandbox/src/Model/Table/ProductsTable.php
  plugins/Sandbox/src/Model/Table/SandboxPostsTable.php
  plugins/Sandbox/tests/TestCase/Model/Filter/ProductsCollectionTest.php
  plugins/Sandbox/tests/TestCase/Model/Filter/SandboxPostsCollectionTest.php
Due: Sandbox Plugin

Add CakePHP Bouncer plugin demo with comprehensive approval workflow
  composer.json
  composer.lock
  config/Migrations/20251117134316_AddUserIdToSandboxArticles.php
  config/auth_allow.ini
  config/plugins.php
  plugins/Sandbox/src/Controller/BouncerExamplesController.php
  plugins/Sandbox/templates/BouncerExamples/add.php
  plugins/Sandbox/templates/BouncerExamples/articles.php
  plugins/Sandbox/templates/BouncerExamples/index.php
  plugins/Sandbox/templates/BouncerExamples/pending.php
  plugins/Sandbox/templates/BouncerExamples/review.php
  plugins/Sandbox/templates/PluginExamples/index.php
  plugins/Sandbox/templates/element/bouncer_nav.php
  plugins/Sandbox/tests/Fixture/SandboxArticlesFixture.php
  plugins/Sandbox/tests/TestCase/Controller/BouncerExamplesControllerTest.php
Due: Sandbox Plugin

Fix Bouncer review template to decode JSON data
  plugins/Sandbox/templates/BouncerExamples/review.php
Due: none

Add admin bypass functionality to Bouncer demo
  BLOG_POST_FileStorage.md
  CAKEPHP_BOOST_PLAN.md
  FILESTORAGE_1.0_RELEASE_CHECKLIST.md
  FILESTORAGE_1.0_STATUS.md
  JOB_LOGGING_IMPLEMENTATION_PLAN.md
  REDDIT_POST_PHP.md
  composer.json
  composer.lock
  plugins/Sandbox/FILE_STORAGE_README.md
  plugins/Sandbox/templates/BouncerExamples/admin_add.php
  plugins/Sandbox/templates/BouncerExamples/index.php
  plugins/Sandbox/templates/element/bouncer_nav.php
  plugins/Sandbox/tests/TestCase/Controller/BouncerExamplesControllerTest.php
Due: none

Add Bouncer plugin demo.
  composer.lock
  config/Migrations/20251117134316_AddUserIdToSandboxArticles.php
  plugins/Sandbox/src/Controller/BouncerExamplesController.php
  plugins/Sandbox/src/Model/Entity/Product.php
  plugins/Sandbox/src/Model/Entity/SandboxArticle.php
  plugins/Sandbox/templates/BouncerExamples/articles.php
  plugins/Sandbox/templates/BouncerExamples/edit.php
  plugins/Sandbox/templates/BouncerExamples/index.php
  plugins/Sandbox/templates/BouncerExamples/pending.php
  plugins/Sandbox/templates/BouncerExamples/review.php
  plugins/Sandbox/templates/BouncerExamples/view.php
  plugins/Sandbox/templates/CakeExamples/paginate_combined_sort.php
  plugins/Sandbox/templates/element/bouncer_nav.php
  plugins/Sandbox/tests/TestCase/Controller/BouncerExamplesControllerTest.php
  plugins/Sandbox/tests/TestCase/Controller/FileStorageExamplesControllerTest.php
  tests/bootstrap.php
Due: Sandbox Plugin

Add Bouncer plugin demo.
  composer.lock
  plugins/Sandbox/src/Controller/BouncerExamplesController.php
Due: Sandbox Plugin

Add Bouncer plugin demo.
  composer.json
  composer.lock
Due: none

Fix tests.
  composer.lock
Due: none

Update dep.
  composer.lock
  plugins/Sandbox/tests/TestCase/Controller/BouncerExamplesControllerTest.php
Due: none

Update docs.
  plugins/Sandbox/templates/BouncerExamples/index.php
  plugins/Sandbox/tests/TestCase/Controller/BouncerExamplesControllerTest.php
Due: none

Update docs.
  build.sh
  plugins/Sandbox/templates/CakeExamples/translate_behavior.php
Due: none

Update dep.
  composer.lock
Due: none

Remove accidentally committed personal MD files from tracking
  BLOG_POST_FileStorage.md
  CAKEPHP_BOOST_PLAN.md
  FILESTORAGE_1.0_RELEASE_CHECKLIST.md
  FILESTORAGE_1.0_STATUS.md
  JOB_LOGGING_IMPLEMENTATION_PLAN.md
  REDDIT_POST_PHP.md
Due: none

Docs.
  CLAUDE.md
Due: none

Test migrations v5
  composer.json
  composer.lock
  config/app_custom.php
Due: none

Add djot sandbox.
  composer.json
  composer.lock
  config/auth_allow.ini
  plugins/Sandbox/src/Controller/BouncerExamplesController.php
  plugins/Sandbox/src/Controller/DjotController.php
  plugins/Sandbox/templates/Djot/index.php
  plugins/Sandbox/templates/Sandbox/index.php
  plugins/Sandbox/tests/TestCase/Controller/DjotControllerTest.php
Due: Sandbox Plugin

Add djot sandbox.
  composer.lock
  plugins/Sandbox/src/Controller/DjotController.php
  plugins/Sandbox/templates/Djot/index.php
Due: Sandbox Plugin

Add djot sandbox.
  plugins/Sandbox/src/Controller/DjotController.php
  plugins/Sandbox/templates/Djot/index.php
Due: Sandbox Plugin

Path conditions:
  App: any of: src/**, but not: tests/**, config/**, webroot/**, bin/**, vendor/**, templates/**, **/tests/**
  Sandbox Plugin: any of: plugins/Sandbox/src/**, but not: tests/**, config/**, webroot/**, bin/**, vendor/**, templates/**, **/tests/**
  AuthSandbox Plugin: any of: plugins/AuthSandbox/src/**, but not: tests/**, config/**, webroot/**, bin/**, vendor/**, templates/**, **/tests/**
  StateMachineSandbox Plugin: any of: plugins/StateMachineSandbox/src/**, but not: tests/**, config/**, webroot/**, bin/**, vendor/**, templates/**, **/tests/**
