Repository dereuromark/cakephp-sandbox: changes, and which Codecov flags are due for each by the changed paths.
All: App, Sandbox Plugin, AuthSandbox Plugin, StateMachineSandbox Plugin

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
        paths:
          - "src/**"
          - "plugins/**/src/**"
    patch:
      default:
        target: auto

# Ignore paths
ignore:
  - "tests/**"
  - "config/**"
  - "webroot/**"
  - "bin/**"
  - "vendor/**"
  - "templates/**"
  - "**/tests/**"

# Component-based coverage
component_management:
  individual_components:
    - component_id: app
      name: App
      paths:
        - "src/**"
    - component_id: sandbox
      name: Sandbox Plugin
      paths:
        - "plugins/Sandbox/src/**"
    - component_id: auth_sandbox
      name: AuthSandbox Plugin
      paths:
        - "plugins/AuthSandbox/src/**"
    - component_id: state_machine_sandbox
      name: StateMachineSandbox Plugin
      paths:
        - "plugins/StateMachineSandbox/src/**"

Address PR review: fix Carve extensions/controller rebrand misses
  plugins/Sandbox/src/Controller/CarveController.php
  plugins/Sandbox/templates/Carve/extensions.php
Due: Sandbox Plugin

Address second PR review pass (9 findings)
  plugins/Sandbox/src/Controller/CarveController.php
  plugins/Sandbox/src/Controller/DjotController.php
  plugins/Sandbox/templates/Carve/bbcode_to_carve.php
  plugins/Sandbox/templates/Carve/complex_examples.php
  plugins/Sandbox/templates/Carve/extensions.php
  plugins/Sandbox/templates/Carve/index.php
  plugins/Sandbox/templates/Carve/markdown_to_carve.php
Due: Sandbox Plugin

Recheck sweep: clean up residual Djot branding in Carve examples
  plugins/Sandbox/src/Controller/CarveController.php
  plugins/Sandbox/templates/Carve/complex_examples.php
  plugins/Sandbox/templates/Carve/index.php
Due: Sandbox Plugin

Convert example markup from Djot to Carve delimiters
  plugins/Sandbox/src/Controller/CarveController.php
  plugins/Sandbox/templates/Carve/complex_examples.php
  plugins/Sandbox/templates/Carve/index.php
Due: Sandbox Plugin

Add Carve PHP playground with Djot to Carve converter (#131)
  composer.json
  composer.lock
  config/auth_allow.ini
  plugins/Sandbox/src/Controller/CarveController.php
  plugins/Sandbox/templates/Carve/bbcode_to_carve.php
  plugins/Sandbox/templates/Carve/complex_examples.php
  plugins/Sandbox/templates/Carve/djot_to_carve.php
  plugins/Sandbox/templates/Carve/extensions.php
  plugins/Sandbox/templates/Carve/html_to_carve.php
  plugins/Sandbox/templates/Carve/index.php
  plugins/Sandbox/templates/Carve/markdown_to_carve.php
  plugins/Sandbox/templates/Carve/wysiwyg.php
  plugins/Sandbox/templates/Sandbox/index.php
  plugins/Sandbox/templates/element/navigation/carve.php
  plugins/Sandbox/tests/TestCase/Controller/CarveControllerTest.php
  templates/element/navigation.php
Due: Sandbox Plugin

Add security.txt via Setup SecurityTxtMiddleware
  .github/SECURITY.md
  composer.lock
  src/Application.php
  tests/TestCase/Middleware/SecurityTxtTest.php
Due: App

Add security.txt via Setup SecurityTxtMiddleware (#132)
  .github/SECURITY.md
  composer.lock
  src/Application.php
  tests/TestCase/Middleware/SecurityTxtTest.php
Due: App

CSS
  plugins/Sandbox/templates/Carve/index.php
  plugins/Sandbox/templates/Djot/index.php
Due: none

Add Reactions example and Menu sandbox plugin; drop icings/menu
  composer.json
  composer.lock
  config/auth_allow.ini
  config/plugins.php
  phpstan.neon
  phpunit.xml.dist
  plugins/MenuSandbox/config/routes.php
  plugins/MenuSandbox/src/Controller/MenuSandboxController.php
  plugins/MenuSandbox/templates/MenuSandbox/advanced.php
  plugins/MenuSandbox/templates/MenuSandbox/index.php
  plugins/MenuSandbox/templates/MenuSandbox/renderers.php
  plugins/MenuSandbox/templates/MenuSandbox/resolvers.php
  plugins/MenuSandbox/templates/element/sidebar.php
  plugins/MenuSandbox/tests/TestCase/Controller/MenuSandboxControllerTest.php
  plugins/Sandbox/src/Controller/MenuController.php
  plugins/Sandbox/src/Controller/ReactionExamplesController.php
  plugins/Sandbox/src/Model/Table/SandboxReactionsTable.php
  plugins/Sandbox/templates/Menu/index.php
  plugins/Sandbox/templates/PluginExamples/index.php
  plugins/Sandbox/templates/ReactionExamples/api.php
  plugins/Sandbox/templates/ReactionExamples/index.php
  plugins/Sandbox/templates/element/navigation/reactions.php
  plugins/Sandbox/tests/TestCase/Controller/MenuControllerTest.php
  plugins/Sandbox/tests/TestCase/Controller/ReactionExamplesControllerTest.php
  src/View/AppView.php
  templates/element/navigation.php
  tests/bootstrap.php
Due: App, Sandbox Plugin

Sync AppView helper annotations after dropping icings/menu
  src/View/AppView.php
Due: App

Address review: safe demo-user email derivation, drop empty nav heading
  plugins/Sandbox/src/Controller/ReactionExamplesController.php
  plugins/Sandbox/templates/element/navigation/reactions.php
Due: Sandbox Plugin

Bump cakephp-menu to PR#4 and round out the menu showcase
  composer.lock
  plugins/MenuSandbox/templates/MenuSandbox/index.php
  plugins/MenuSandbox/templates/MenuSandbox/resolvers.php
Due: none

Add Reactions example and Menu sandbox plugin; drop icings/menu (#133)
  composer.json
  composer.lock
  config/auth_allow.ini
  config/plugins.php
  phpstan.neon
  phpunit.xml.dist
  plugins/MenuSandbox/config/routes.php
  plugins/MenuSandbox/src/Controller/MenuSandboxController.php
  plugins/MenuSandbox/templates/MenuSandbox/advanced.php
  plugins/MenuSandbox/templates/MenuSandbox/index.php
  plugins/MenuSandbox/templates/MenuSandbox/renderers.php
  plugins/MenuSandbox/templates/MenuSandbox/resolvers.php
  plugins/MenuSandbox/templates/element/sidebar.php
  plugins/MenuSandbox/tests/TestCase/Controller/MenuSandboxControllerTest.php
  plugins/Sandbox/src/Controller/MenuController.php
  plugins/Sandbox/src/Controller/ReactionExamplesController.php
  plugins/Sandbox/src/Model/Table/SandboxReactionsTable.php
  plugins/Sandbox/templates/Menu/index.php
  plugins/Sandbox/templates/PluginExamples/index.php
  plugins/Sandbox/templates/ReactionExamples/api.php
  plugins/Sandbox/templates/ReactionExamples/index.php
  plugins/Sandbox/templates/element/navigation/reactions.php
  plugins/Sandbox/tests/TestCase/Controller/MenuControllerTest.php
  plugins/Sandbox/tests/TestCase/Controller/ReactionExamplesControllerTest.php
  src/View/AppView.php
  templates/element/navigation.php
  tests/bootstrap.php
Due: App, Sandbox Plugin

Fix reactions emoji encoding and convert template helper functions to closures
  config/app.php
  plugins/Sandbox/templates/Carve/complex_examples.php
  plugins/Sandbox/templates/Djot/complex_examples.php
  plugins/Sandbox/tests/TestCase/Controller/ReactionExamplesControllerTest.php
Due: none

Global composer update (dev-master) with temporary PHPStan baseline
  composer.lock
  phpstan-baseline.neon
  phpstan.neon
  plugins/MenuSandbox/templates/MenuSandbox/resolvers.php
  plugins/Sandbox/src/Model/Table/BitmaskedRecordsTable.php
  plugins/Sandbox/src/Model/Table/DemoArticlesTable.php
  plugins/Sandbox/src/Model/Table/EventsTable.php
  plugins/Sandbox/src/Model/Table/ProductsTable.php
  plugins/Sandbox/src/Model/Table/SandboxArticlesTable.php
  plugins/Sandbox/src/Model/Table/SandboxCitiesTable.php
  plugins/Sandbox/src/Model/Table/SandboxReactionsTable.php
  plugins/WorkflowSandbox/src/Model/Table/ContentsTable.php
  plugins/WorkflowSandbox/src/Model/Table/DocumentsTable.php
  plugins/WorkflowSandbox/src/Model/Table/OrdersTable.php
  plugins/WorkflowSandbox/src/Model/Table/PaymentsTable.php
  plugins/WorkflowSandbox/src/Model/Table/RegistrationsTable.php
  plugins/WorkflowSandbox/src/Model/Table/TicketsTable.php
Due: Sandbox Plugin

Drive the PermissionResolver demo with a closure; fix emoji-test comment
  plugins/MenuSandbox/templates/MenuSandbox/resolvers.php
  plugins/Sandbox/tests/TestCase/Controller/ReactionExamplesControllerTest.php
Due: none

Drop the temporary PHPStan baseline and tidy plugin-examples
  composer.lock
  phpstan-baseline.neon
  phpstan.neon
  plugins/Sandbox/templates/PluginExamples/index.php
Due: none

Fix reactions emoji (utf8mb4) + template closures; global dev-master update (#134)
  composer.lock
  config/app.php
  plugins/MenuSandbox/templates/MenuSandbox/resolvers.php
  plugins/Sandbox/src/Model/Table/BitmaskedRecordsTable.php
  plugins/Sandbox/src/Model/Table/DemoArticlesTable.php
  plugins/Sandbox/src/Model/Table/EventsTable.php
  plugins/Sandbox/src/Model/Table/ProductsTable.php
  plugins/Sandbox/src/Model/Table/SandboxArticlesTable.php
  plugins/Sandbox/src/Model/Table/SandboxCitiesTable.php
  plugins/Sandbox/src/Model/Table/SandboxReactionsTable.php
  plugins/Sandbox/templates/Carve/complex_examples.php
  plugins/Sandbox/templates/Djot/complex_examples.php
  plugins/Sandbox/templates/PluginExamples/index.php
  plugins/Sandbox/tests/TestCase/Controller/ReactionExamplesControllerTest.php
  plugins/WorkflowSandbox/src/Model/Table/ContentsTable.php
  plugins/WorkflowSandbox/src/Model/Table/DocumentsTable.php
  plugins/WorkflowSandbox/src/Model/Table/OrdersTable.php
  plugins/WorkflowSandbox/src/Model/Table/PaymentsTable.php
  plugins/WorkflowSandbox/src/Model/Table/RegistrationsTable.php
  plugins/WorkflowSandbox/src/Model/Table/TicketsTable.php
Due: Sandbox Plugin

Showcase new cakephp-menu features in MenuSandbox
  composer.json
  composer.lock
  plugins/MenuSandbox/templates/MenuSandbox/advanced.php
  plugins/MenuSandbox/templates/MenuSandbox/index.php
  plugins/MenuSandbox/templates/MenuSandbox/resolvers.php
  plugins/MenuSandbox/templates/element/sidebar.php
Due: none

Polish MenuSandbox showcase and bump cakephp-menu to f2b8859 (#15)
  composer.lock
  plugins/MenuSandbox/templates/MenuSandbox/index.php
  plugins/MenuSandbox/templates/MenuSandbox/renderers.php
  plugins/MenuSandbox/templates/element/sidebar.php
Due: none

Match sidebar Explore toggle to the leaves (no full-width spread)
  plugins/MenuSandbox/templates/element/sidebar.php
Due: none

Make sidebar active item visually distinguishable
  plugins/MenuSandbox/templates/element/sidebar.php
Due: none

Fix sidebar caret rotation + active-item visibility in demos
  composer.lock
  plugins/MenuSandbox/templates/MenuSandbox/renderers.php
  plugins/MenuSandbox/templates/MenuSandbox/resolvers.php
  plugins/MenuSandbox/templates/element/sidebar.php
Due: none

Showcase post-#15 menu features in MenuSandbox
  plugins/MenuSandbox/templates/MenuSandbox/advanced.php
  plugins/MenuSandbox/templates/MenuSandbox/index.php
  plugins/MenuSandbox/templates/MenuSandbox/renderers.php
  plugins/MenuSandbox/templates/MenuSandbox/resolvers.php
  plugins/MenuSandbox/templates/element/sidebar.php
Due: none

Bump cakephp-meta dev-master ref (composer install drift)
  composer.lock
Due: none

Fix MenuSandbox renderer examples
  plugins/MenuSandbox/templates/MenuSandbox/advanced.php
  plugins/MenuSandbox/templates/MenuSandbox/resolvers.php
Due: none

Docker
  docker/Dockerfile
Due: none

Update dep.
  composer.lock
  plugins/Sandbox/src/Controller/CakeExamplesController.php
Due: Sandbox Plugin

Update dependencies for PHPCS
  composer.lock
Due: none

WorkflowSandbox: adopt Workflow helper and satisfy WorkflowTableInterface
  composer.lock
  plugins/WorkflowSandbox/src/Model/Table/ContentsTable.php
  plugins/WorkflowSandbox/src/Model/Table/DocumentsTable.php
  plugins/WorkflowSandbox/src/Model/Table/OrdersTable.php
  plugins/WorkflowSandbox/src/Model/Table/PaymentsTable.php
  plugins/WorkflowSandbox/src/Model/Table/RegistrationsTable.php
  plugins/WorkflowSandbox/src/Model/Table/TicketsTable.php
  plugins/WorkflowSandbox/templates/Contents/index.php
  plugins/WorkflowSandbox/templates/Contents/view.php
  plugins/WorkflowSandbox/templates/Documents/index.php
  plugins/WorkflowSandbox/templates/Documents/view.php
  plugins/WorkflowSandbox/templates/Orders/index.php
  plugins/WorkflowSandbox/templates/Orders/view.php
  plugins/WorkflowSandbox/templates/Payments/index.php
  plugins/WorkflowSandbox/templates/Payments/view.php
  plugins/WorkflowSandbox/templates/Registrations/index.php
  plugins/WorkflowSandbox/templates/Registrations/view.php
  plugins/WorkflowSandbox/templates/Tickets/index.php
  plugins/WorkflowSandbox/templates/Tickets/view.php
Due: none

Fix Carve admonition styling on sandbox playground
  plugins/Sandbox/templates/Carve/index.php
Due: none

Fix Carve/Djot sandbox admonition rendering and sanitizer gaps
  plugins/Sandbox/src/Controller/CarveController.php
  plugins/Sandbox/src/Controller/DjotController.php
  plugins/Sandbox/templates/Djot/index.php
Due: Sandbox Plugin

Roundtrip.
  composer.lock
  plugins/Sandbox/src/Controller/CarveController.php
  plugins/Sandbox/src/Controller/DjotController.php
  plugins/Sandbox/templates/Carve/extensions.php
  plugins/Sandbox/templates/Djot/roundtrip.php
  plugins/Sandbox/templates/element/navigation/djot.php
  plugins/Sandbox/tests/TestCase/Controller/CarveControllerTest.php
  plugins/Sandbox/tests/TestCase/Controller/DjotControllerTest.php
Due: Sandbox Plugin

Carve editor.
  .gitignore
  plugins/Sandbox/src/Controller/CarveController.php
  plugins/Sandbox/templates/Carve/wysiwyg.php
  plugins/Sandbox/tests/TestCase/Controller/CarveControllerTest.php
Due: Sandbox Plugin

Carve roundtrip page, WYSIWYG token fixes, carve-php bump
  .gitignore
  composer.lock
  plugins/Sandbox/src/Controller/CarveController.php
  plugins/Sandbox/templates/Carve/roundtrip.php
  plugins/Sandbox/templates/Carve/wysiwyg.php
  plugins/Sandbox/templates/element/navigation/carve.php
  plugins/Sandbox/tests/TestCase/Controller/CarveControllerTest.php
Due: Sandbox Plugin

Djot playground: add nested-lists option, drop deprecated nested-blocks
  composer.lock
  plugins/Sandbox/src/Controller/DjotController.php
  plugins/Sandbox/templates/Djot/index.php
  plugins/Sandbox/tests/TestCase/Controller/DjotControllerTest.php
Due: Sandbox Plugin

Bump djot and carve to merged blocksInterruptParagraphs behavior
  composer.lock
Due: none

PHPStan generics cleanup.
  composer.lock
Due: none

Update dep.
  composer.lock
Due: none
