Repository dereuromark/cakephp-sandbox: changes, and which Codecov flags are due for each by the changed paths.
All: App, Sandbox Plugin, AuthSandbox Plugin, StateMachineSandbox Plugin

Add queue example.
  plugins/Sandbox/templates/MercureExamples/index.php
  plugins/Sandbox/templates/PluginExamples/index.php
  plugins/Sandbox/templates/element/navigation/mercure.php
Due: none

add enum example.
  composer.lock
  plugins/Sandbox/config/dto.xml
  plugins/Sandbox/src/Dto/Github/BaseDto.php
  plugins/Sandbox/src/Dto/Github/HeadDto.php
  plugins/Sandbox/src/Dto/Github/LabelDto.php
  plugins/Sandbox/src/Dto/Github/PullRequestDto.php
  plugins/Sandbox/src/Dto/Github/RepoDto.php
  plugins/Sandbox/src/Dto/Github/UserDto.php
  plugins/Sandbox/src/Dto/SandboxUserProjectionDto.php
  src/Controller/MiscController.php
  templates/Misc/dto_projection.php
Due: App, Sandbox Plugin

Add queue example.
  .gitignore
Due: none

Fix up docker
  docker/Caddyfile
  docker/Dockerfile
  docker/docker-compose.yml
Due: none

Fix cities seed.
  composer.lock
  config/Seeds/CitiesSeed.php
  plugins/Sandbox/src/Controller/FileStorageExamplesController.php
Due: Sandbox Plugin

Adjust healthcheck
  config/app_custom.php
Due: none

Adjust for queue run
  build.sh
  docker/Caddyfile
  docker/Dockerfile
  docker/docker-compose.yml
Due: none

Gitignore
  .gitignore
Due: none

UPdate DTOs.
  plugins/Sandbox/src/Dto/Github/BaseDto.php
  plugins/Sandbox/src/Dto/Github/HeadDto.php
  plugins/Sandbox/src/Dto/Github/LabelDto.php
  plugins/Sandbox/src/Dto/Github/PullRequestDto.php
  plugins/Sandbox/src/Dto/Github/RepoDto.php
  plugins/Sandbox/src/Dto/Github/UserDto.php
Due: Sandbox Plugin

Add queue example.
  plugins/Sandbox/src/Controller/MercureExamplesController.php
  plugins/Sandbox/templates/MercureExamples/queue_progress.php
  src/View/AppView.php
Due: App, Sandbox Plugin

Fix CS issues with use statements
  plugins/Sandbox/src/Controller/MercureExamplesController.php
  plugins/Sandbox/src/Queue/Task/MercureProgressExampleTask.php
Due: Sandbox Plugin

chat demo.
  plugins/Sandbox/src/Controller/MercureExamplesController.php
  plugins/Sandbox/templates/MercureExamples/index.php
  plugins/Sandbox/templates/element/navigation/mercure.php
  plugins/Sandbox/tests/TestCase/Controller/MercureExamplesControllerTest.php
Due: Sandbox Plugin

chat demo.
  plugins/Sandbox/templates/MercureExamples/chat.php
Due: none

Fix phpstan.
  plugins/Sandbox/src/Controller/MercureExamplesController.php
  plugins/Sandbox/tests/TestCase/Controller/MercureExamplesControllerTest.php
Due: Sandbox Plugin

Fix Mercure tests by clearing Authorization singleton
  plugins/Sandbox/tests/TestCase/Controller/MercureExamplesControllerTest.php
Due: none

Fix Mercure tests: configure before parent::setUp()
  plugins/Sandbox/tests/TestCase/Controller/MercureExamplesControllerTest.php
Due: none

Add Mercure config to test bootstrap
  tests/bootstrap.php
Due: none

Check for JWT secret before loading MercureComponent
  plugins/Sandbox/src/Controller/MercureExamplesController.php
Due: Sandbox Plugin

Add Mercure config to CI for test environment
  config/app_local.ci.php
Due: none

Add debug assertions to testPostMessage to diagnose CI failure
  plugins/Sandbox/tests/TestCase/Controller/MercureExamplesControllerTest.php
Due: none

Add debug logging to controller to diagnose CI config issue
  plugins/Sandbox/src/Controller/MercureExamplesController.php
Due: Sandbox Plugin

Fix CI: Add app_mercure.ci.php for Mercure plugin config in tests
  .github/workflows/ci.yml
  config/app_mercure.ci.php
  plugins/Sandbox/src/Controller/MercureExamplesController.php
  plugins/Sandbox/tests/TestCase/Controller/MercureExamplesControllerTest.php
Due: Sandbox Plugin

Add worker mode indicator icon in footer
  templates/layout/default.php
Due: none

Use file-based marker for worker mode detection
  templates/layout/default.php
  webroot/worker.php
Due: none

Fix CS.
  webroot/worker.php
Due: none

Add FrankenPHP option to Mercure setup instructions
  plugins/Sandbox/templates/MercureExamples/index.php
Due: none

Add stock field to products seed data
  config/Seeds/ProductsSeed.php
Due: none

Add stock field to products seed data (#104)
  config/Seeds/ProductsSeed.php
Due: none

Remove unused valinor dependency
  composer.json
  composer.lock
Due: none

Fix up pwd form field.
  templates/Admin/Users/add.php
  templates/Admin/Users/edit.php
Due: none

Add FrankenPHP DDEV example configuration
  .ddev.franken.example/README.md
  .ddev.franken.example/config.frankenphp.yaml
  .ddev.franken.example/docker-compose.mercure.yaml.example
  .ddev.franken.example/frankenphp/Caddyfile
  .ddev.franken.example/web-build/Dockerfile.frankenphp
  .ddev.franken.example/web-build/prepend.Dockerfile.frankenphp
  SETUP.md
  config/app_mercure.default.php
Due: none

Run containers as www-data (UID 33) for proper file permissions
  docker/docker-compose.yml
Due: none

Clean stale queue worker records on setup
  setup.sh
Due: none

Improve Docker configuration: simplify Caddyfile and add error logging
  docker/Caddyfile
  docker/Dockerfile
Due: none

Fix build.sh to run composer on host instead of Docker
  build.sh
Due: none

Add queue worker cleanup on startup for self-healing
  .ddev.franken.example/config.frankenphp.yaml
  .ddev.franken.example/frankenphp/Caddyfile
  docker/docker-compose.yml
  templates/layout/default.php
Due: none

Add queue worker monitoring script with email alerts
  .gitignore
  docker/check_queue.sh
Due: none

Fix up 404 issue.
  src/Application.php
  src/Http/Middleware/MissingControllerMiddleware.php
Due: App

Add supervisor and systemd example configs for queue worker
  config/supervisor/queue-worker.conf.example
  config/systemd/queue-worker.service.example
Due: none

Fix Caddyfile to enable FrankenPHP worker mode
  docker/Caddyfile
Due: none

Path conditions:
  App: any of: src/**, but not: tests/**, config/**, webroot/**, bin/**, vendor/**, templates/**, **/tests/**
  Sandbox Plugin: any of: plugins/Sandbox/src/**, but not: tests/**, config/**, webroot/**, bin/**, vendor/**, templates/**, **/tests/**
  AuthSandbox Plugin: any of: plugins/AuthSandbox/src/**, but not: tests/**, config/**, webroot/**, bin/**, vendor/**, templates/**, **/tests/**
  StateMachineSandbox Plugin: any of: plugins/StateMachineSandbox/src/**, but not: tests/**, config/**, webroot/**, bin/**, vendor/**, templates/**, **/tests/**
