Repository dereuromark/cakephp-sandbox: changes, and which Codecov flags are due for each by the changed paths.
All: App, Sandbox Plugin, AuthSandbox Plugin, StateMachineSandbox Plugin

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
        paths:
          - "src/**"
          - "plugins/**/src/**"
    patch:
      default:
        target: auto

# Ignore paths
ignore:
  - "tests/**"
  - "config/**"
  - "webroot/**"
  - "bin/**"
  - "vendor/**"
  - "templates/**"
  - "**/tests/**"

# Component-based coverage
component_management:
  individual_components:
    - component_id: app
      name: App
      paths:
        - "src/**"
    - component_id: sandbox
      name: Sandbox Plugin
      paths:
        - "plugins/Sandbox/src/**"
    - component_id: auth_sandbox
      name: AuthSandbox Plugin
      paths:
        - "plugins/AuthSandbox/src/**"
    - component_id: state_machine_sandbox
      name: StateMachineSandbox Plugin
      paths:
        - "plugins/StateMachineSandbox/src/**"

Add shareable Carve example anchors
  plugins/Sandbox/templates/Carve/index.php
  plugins/Sandbox/tests/TestCase/Controller/CarveControllerTest.php
Due: none

Clarify Carve include library sources
  plugins/Sandbox/templates/Carve/index.php
  plugins/Sandbox/tests/TestCase/Controller/CarveControllerTest.php
Due: none

Add language diff presentation to Carve demo
  plugins/Sandbox/templates/Carve/index.php
  plugins/Sandbox/templates/element/carve/output_styles.php
  plugins/Sandbox/tests/TestCase/Controller/CarveControllerTest.php
Due: none

Fix diff renderer escape helper scope
  plugins/Sandbox/templates/Carve/index.php
  plugins/Sandbox/tests/TestCase/Controller/CarveControllerTest.php
Due: none

Add language diff presentation to the Carve demo (#152)
  plugins/Sandbox/templates/Carve/index.php
  plugins/Sandbox/templates/element/carve/output_styles.php
  plugins/Sandbox/tests/TestCase/Controller/CarveControllerTest.php
Due: none

Fix Carve diff preview line spacing
  plugins/Sandbox/templates/element/carve/output_styles.php
  plugins/Sandbox/tests/TestCase/Controller/CarveControllerTest.php
Due: none

Fix Carve diff preview line spacing (#153)
  plugins/Sandbox/templates/element/carve/output_styles.php
  plugins/Sandbox/tests/TestCase/Controller/CarveControllerTest.php
Due: none

Upgrade to cakephp-menu 0.2 and the latest Carve packages
  composer.json
  composer.lock
  config/plugins.php
  package-lock.json
  package.json
  plugins/MenuSandbox/src/Controller/MenuSandboxController.php
  plugins/MenuSandbox/templates/MenuSandbox/advanced.php
  plugins/MenuSandbox/templates/MenuSandbox/index.php
  plugins/MenuSandbox/templates/MenuSandbox/renderers.php
  plugins/MenuSandbox/templates/MenuSandbox/resolvers.php
  plugins/MenuSandbox/templates/element/sidebar.php
  plugins/Sandbox/src/Controller/CarveController.php
  plugins/Sandbox/templates/Carve/ast.php
  plugins/Sandbox/tests/TestCase/Controller/CarveControllerTest.php
  src/View/AppView.php
Due: App, Sandbox Plugin

Move the esm.sh Carve pins to the same commits as package.json
  plugins/Sandbox/templates/Carve/pandoc.php
  plugins/Sandbox/templates/Carve/prose_mirror.php
  plugins/Sandbox/templates/Carve/wysiwyg.php
Due: none

Drop commit-hash assertions from the Pandoc page test
  plugins/Sandbox/tests/TestCase/Controller/CarveControllerTest.php
Due: none

Upgrade to cakephp-menu 0.2 and latest Carve (#154)
  composer.json
  composer.lock
  config/plugins.php
  package-lock.json
  package.json
  plugins/MenuSandbox/src/Controller/MenuSandboxController.php
  plugins/MenuSandbox/templates/MenuSandbox/advanced.php
  plugins/MenuSandbox/templates/MenuSandbox/index.php
  plugins/MenuSandbox/templates/MenuSandbox/renderers.php
  plugins/MenuSandbox/templates/MenuSandbox/resolvers.php
  plugins/MenuSandbox/templates/element/sidebar.php
  plugins/Sandbox/src/Controller/CarveController.php
  plugins/Sandbox/templates/Carve/ast.php
  plugins/Sandbox/templates/Carve/pandoc.php
  plugins/Sandbox/templates/Carve/prose_mirror.php
  plugins/Sandbox/templates/Carve/wysiwyg.php
  plugins/Sandbox/tests/TestCase/Controller/CarveControllerTest.php
  src/View/AppView.php
Due: App, Sandbox Plugin

Add file storage deduplication demo
  composer.json
  composer.lock
  config/app_custom.php
  plugins/Sandbox/src/Controller/FileStorageExamplesController.php
  plugins/Sandbox/templates/FileStorageExamples/deduplication.php
  plugins/Sandbox/templates/FileStorageExamples/index.php
  plugins/Sandbox/templates/element/navigation/file_storage.php
  plugins/Sandbox/tests/TestCase/Controller/FileStorageExamplesControllerTest.php
Due: Sandbox Plugin

Name the demo collection documents and fit the tables on the page
  config/app_custom.php
  plugins/Sandbox/src/Controller/FileStorageExamplesController.php
  plugins/Sandbox/templates/FileStorageExamples/deduplication.php
Due: Sandbox Plugin

Pass the stored files to the template as plain arrays
  plugins/Sandbox/src/Controller/FileStorageExamplesController.php
  plugins/Sandbox/templates/FileStorageExamples/deduplication.php
Due: Sandbox Plugin

Add upload without re-sending demo
  composer.json
  composer.lock
  config/app_custom.php
  plugins/Sandbox/src/Controller/FileStorageExamplesController.php
  plugins/Sandbox/templates/FileStorageExamples/index.php
  plugins/Sandbox/templates/FileStorageExamples/instant_upload.php
  plugins/Sandbox/templates/element/navigation/file_storage.php
  plugins/Sandbox/tests/TestCase/Controller/FileStorageExamplesControllerTest.php
Due: Sandbox Plugin

Use the storage library's master
  composer.json
  composer.lock
Due: none

Use the released deduplication in the file storage plugin
  composer.json
  composer.lock
Due: none

Shorten the unreferenced badge and keep blob paths on one line
  plugins/Sandbox/templates/FileStorageExamples/deduplication.php
Due: none

Update the file storage plugin to its current master
  composer.lock
Due: none

Add file storage deduplication demo (#155)
  composer.json
  composer.lock
  config/app_custom.php
  plugins/Sandbox/src/Controller/FileStorageExamplesController.php
  plugins/Sandbox/templates/FileStorageExamples/deduplication.php
  plugins/Sandbox/templates/FileStorageExamples/index.php
  plugins/Sandbox/templates/element/navigation/file_storage.php
  plugins/Sandbox/tests/TestCase/Controller/FileStorageExamplesControllerTest.php
Due: Sandbox Plugin

Add upload without re-sending demo (#156)
  config/app_custom.php
  plugins/Sandbox/src/Controller/FileStorageExamplesController.php
  plugins/Sandbox/templates/FileStorageExamples/index.php
  plugins/Sandbox/templates/FileStorageExamples/instant_upload.php
  plugins/Sandbox/templates/element/navigation/file_storage.php
  plugins/Sandbox/tests/TestCase/Controller/FileStorageExamplesControllerTest.php
Due: Sandbox Plugin

Remove unreferenced blobs of the file storage demos automatically
  plugins/Sandbox/src/Controller/FileStorageExamplesController.php
Due: Sandbox Plugin

Keep a failing blob cleanup from breaking the demo page
  plugins/Sandbox/src/Controller/FileStorageExamplesController.php
Due: Sandbox Plugin

Remove unreferenced blobs of the file storage demos automatically (#157)
  plugins/Sandbox/src/Controller/FileStorageExamplesController.php
Due: Sandbox Plugin

Hash files of any size in the browser on the upload demo
  plugins/Sandbox/src/Controller/FileStorageExamplesController.php
  plugins/Sandbox/templates/FileStorageExamples/instant_upload.php
  plugins/Sandbox/tests/TestCase/Controller/FileStorageExamplesControllerTest.php
Due: Sandbox Plugin

Fall back to Web Crypto when hash-wasm cannot initialize
  plugins/Sandbox/templates/FileStorageExamples/instant_upload.php
Due: none

Hash files of any size in the browser on the upload demo (#158)
  plugins/Sandbox/src/Controller/FileStorageExamplesController.php
  plugins/Sandbox/templates/FileStorageExamples/instant_upload.php
  plugins/Sandbox/tests/TestCase/Controller/FileStorageExamplesControllerTest.php
Due: Sandbox Plugin

Add a resumable upload demo
  composer.json
  composer.lock
  config/app_custom.php
  config/auth_allow.ini
  config/routes.php
  plugins/Sandbox/config/routes.php
  plugins/Sandbox/src/Controller/FileStorageExamplesController.php
  plugins/Sandbox/templates/FileStorageExamples/index.php
  plugins/Sandbox/templates/FileStorageExamples/resumable_upload.php
  plugins/Sandbox/tests/TestCase/Controller/FileStorageExamplesControllerTest.php
Due: Sandbox Plugin

Enable the resumable upload demo only in debug mode
  config/app_custom.php
  plugins/Sandbox/src/Controller/FileStorageExamplesController.php
  plugins/Sandbox/templates/FileStorageExamples/resumable_upload.php
  plugins/Sandbox/tests/TestCase/Controller/FileStorageExamplesControllerTest.php
Due: Sandbox Plugin

Update the file storage plugin to the latest resumable-uploads commit
  composer.lock
Due: none

Link the resumable upload demo in the file storage navigation
  plugins/Sandbox/templates/element/navigation/file_storage.php
Due: none

Use the file storage plugin from master again
  composer.json
  composer.lock
Due: none

Update the file storage plugin to 5.3.0
  composer.lock
Due: none

Add a resumable upload demo (#159)
  composer.lock
  config/app_custom.php
  config/auth_allow.ini
  config/routes.php
  plugins/Sandbox/config/routes.php
  plugins/Sandbox/src/Controller/FileStorageExamplesController.php
  plugins/Sandbox/templates/FileStorageExamples/index.php
  plugins/Sandbox/templates/FileStorageExamples/resumable_upload.php
  plugins/Sandbox/templates/element/navigation/file_storage.php
  plugins/Sandbox/tests/TestCase/Controller/FileStorageExamplesControllerTest.php
Due: Sandbox Plugin
