Repository dereuromark/cakephp-sandbox: changes, and which Codecov flags are due for each by the changed paths.
All: App, Sandbox Plugin, AuthSandbox Plugin, StateMachineSandbox Plugin

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
        paths:
          - "src/**"
          - "plugins/**/src/**"
    patch:
      default:
        target: auto

# Ignore paths
ignore:
  - "tests/**"
  - "config/**"
  - "webroot/**"
  - "bin/**"
  - "vendor/**"
  - "templates/**"
  - "**/tests/**"

# Component-based coverage
component_management:
  individual_components:
    - component_id: app
      name: App
      paths:
        - "src/**"
    - component_id: sandbox
      name: Sandbox Plugin
      paths:
        - "plugins/Sandbox/src/**"
    - component_id: auth_sandbox
      name: AuthSandbox Plugin
      paths:
        - "plugins/AuthSandbox/src/**"
    - component_id: state_machine_sandbox
      name: StateMachineSandbox Plugin
      paths:
        - "plugins/StateMachineSandbox/src/**"

Add more djot extension demos.
  composer.lock
  plugins/Sandbox/src/Controller/DjotController.php
  plugins/Sandbox/templates/Djot/extensions.php
  templates/element/navigation.php
Due: Sandbox Plugin

Update DTOs.
  composer.lock
  phpstan.neon
  plugins/Sandbox/src/Controller/ToolsExamplesController.php
  plugins/Sandbox/src/Dto/Github/BaseDto.php
  plugins/Sandbox/src/Dto/Github/HeadDto.php
  plugins/Sandbox/src/Dto/Github/LabelDto.php
  plugins/Sandbox/src/Dto/Github/PullRequestDto.php
  plugins/Sandbox/src/Dto/Github/RepoDto.php
  plugins/Sandbox/src/Dto/Github/UserDto.php
  plugins/Sandbox/src/Dto/SandboxUserProjectionDto.php
  plugins/StateMachineSandbox/src/Controller/RegistrationDemoController.php
  src/Dto/ArticleBenchmarkDto.php
  src/Dto/AuthorBenchmarkDto.php
  src/Dto/CommentBenchmarkDto.php
  src/Dto/MatchingDataDto.php
  src/Dto/PostDto.php
  src/Dto/RoleProjectionDto.php
  src/Dto/SimpleRoleBasicDto.php
  src/Dto/SimpleRoleDto.php
  src/Dto/SimpleUserBasicDto.php
  src/Dto/SimpleUserDto.php
  src/Dto/TagDto.php
  src/Dto/TaggedDto.php
  src/Dto/UserProjectionDto.php
  src/Dto/UserSimpleProjectionDto.php
  src/Dto/UserWithMatchingDto.php
  src/Dto/UserWithMatchingTypedDto.php
Due: App, Sandbox Plugin, StateMachineSandbox Plugin

Remove apc.enable_cli setting from phpunit config
  phpunit.xml.dist
Due: none

Update dep.
  composer.json
  composer.lock
  plugins/Sandbox/src/Controller/Paginator/CollectionPaginator.php
  src/Application.php
Due: App, Sandbox Plugin

Update DTOs.
  plugins/Sandbox/src/Dto/Github/BaseDto.php
  plugins/Sandbox/src/Dto/Github/HeadDto.php
  plugins/Sandbox/src/Dto/Github/LabelDto.php
  plugins/Sandbox/src/Dto/Github/PullRequestDto.php
  plugins/Sandbox/src/Dto/Github/RepoDto.php
  plugins/Sandbox/src/Dto/Github/UserDto.php
  plugins/Sandbox/src/Dto/SandboxUserProjectionDto.php
  src/Dto/ArticleBenchmarkDto.php
  src/Dto/AuthorBenchmarkDto.php
  src/Dto/CommentBenchmarkDto.php
  src/Dto/MatchingDataDto.php
  src/Dto/PostDto.php
  src/Dto/RoleProjectionDto.php
  src/Dto/SimpleRoleBasicDto.php
  src/Dto/SimpleRoleDto.php
  src/Dto/SimpleUserBasicDto.php
  src/Dto/SimpleUserDto.php
  src/Dto/TagDto.php
  src/Dto/TaggedDto.php
  src/Dto/UserProjectionDto.php
  src/Dto/UserSimpleProjectionDto.php
  src/Dto/UserWithMatchingDto.php
  src/Dto/UserWithMatchingTypedDto.php
Due: App, Sandbox Plugin

Fix auth upgrade.
  src/Application.php
Due: App

Add CORS middleware for documentation site API access
  src/Application.php
  src/Http/Middleware/CorsMiddleware.php
Due: App

Add CORS middleware for documentation site API access (#113)
  src/Application.php
  src/Http/Middleware/CorsMiddleware.php
Due: App

Fix FrankenPHP worker mode stalls with explicit workers, wider jitter and Redis sessions
  config/app_custom.php
  docker/Caddyfile
  docker/Dockerfile
  docker/docker-compose.yml
  webroot/worker.php
Due: none

fix: Correct hljs-djot.js path and fetch from djot-php vendor
  .gitignore
  composer.json
  plugins/Sandbox/webroot/js/hljs-djot.js
Due: none

Dep update
  composer.lock
Due: none

fix: Create js directory before copying hljs-djot.js and update cheatsheet link
  composer.json
  plugins/Sandbox/templates/element/navigation/djot.php
Due: none

fix: Add type annotation to fix PHPStan error
  plugins/Sandbox/src/Controller/FileStorageExamplesController.php
Due: Sandbox Plugin

fix: Auto-fix CS violation in app_custom.php
  config/app_custom.php
Due: none

fix: Correct hljs-djot.js path and fetch from djot-php vendor (#114)
  .gitignore
  composer.json
  composer.lock
  config/app_custom.php
  plugins/Sandbox/src/Controller/FileStorageExamplesController.php
  plugins/Sandbox/templates/element/navigation/djot.php
  plugins/Sandbox/webroot/js/hljs-djot.js
Due: Sandbox Plugin

feat: Add Djot WYSIWYG editor using Tiptap
  .gitignore
  composer.json
  package-lock.json
  package.json
  plugins/Sandbox/src/Controller/DjotController.php
  plugins/Sandbox/templates/Djot/wysiwyg.php
  plugins/Sandbox/templates/element/navigation/djot.php
Due: Sandbox Plugin

Dep update
  composer.lock
  plugins/Sandbox/tests/TestCase/Controller/DjotControllerTest.php
Due: none

feat: Add Djot WYSIWYG editor using Tiptap (#115)
  .gitignore
  composer.json
  composer.lock
  package-lock.json
  package.json
  plugins/Sandbox/src/Controller/DjotController.php
  plugins/Sandbox/templates/Djot/wysiwyg.php
  plugins/Sandbox/templates/element/navigation/djot.php
  plugins/Sandbox/tests/TestCase/Controller/DjotControllerTest.php
Due: Sandbox Plugin

Dep update
  .gitignore
  composer.json
  composer.lock
  config/Migrations/20231104184636_InitSandbox.php
  config/auth_acl.ini
  phpcs.xml
  plugins/Sandbox/src/FileStorage/Processor/PdfThumbnailProcessor.php
  src/Application.php
Due: App, Sandbox Plugin

Dep update
  config/Migrations/20231104184636_InitSandbox.php
Due: none

Enhance WYSIWYG Djot editor with video embeds and UX improvements
  plugins/Sandbox/templates/Djot/wysiwyg.php
Due: none

Add H4/H5 headings and floating table controls to WYSIWYG editor
  plugins/Sandbox/templates/Djot/wysiwyg.php
Due: none

Add keyboard shortcuts help modal to WYSIWYG editor
  plugins/Sandbox/templates/Djot/wysiwyg.php
Due: none

Replace heading buttons with dropdown selector (H1-H6)
  plugins/Sandbox/templates/Djot/wysiwyg.php
Due: none

Add strikethrough, abbreviation, and clear formatting buttons to WYSIWYG toolbar
  plugins/Sandbox/templates/Djot/wysiwyg.php
Due: none

Add definition list and hard break support to WYSIWYG editor
  plugins/Sandbox/templates/Djot/wysiwyg.php
Due: none

Use esm.sh CDN for djot-grammars (DRY install from GitHub)
  plugins/Sandbox/templates/Djot/wysiwyg.php
Due: none

Fix esm.sh branch: main -> master
  plugins/Sandbox/templates/Djot/wysiwyg.php
Due: none

Mark tiptap deps as external for esm.sh resolution
  plugins/Sandbox/templates/Djot/wysiwyg.php
Due: none

Pin djot-grammars to commit 29733d9 (definition list fix)
  plugins/Sandbox/templates/Djot/wysiwyg.php
Due: none

feat: Add php-collective/toml package
  composer.json
  composer.lock
Due: none

feat: Add TomlController with AJAX endpoints
  plugins/Sandbox/src/Controller/TomlController.php
Due: Sandbox Plugin

feat: Add TOML navigation element
  plugins/Sandbox/templates/element/navigation/toml.php
Due: none

feat: Add TOML playground template
  plugins/Sandbox/templates/Toml/index.php
Due: none

feat: Add TOML examples template
  plugins/Sandbox/templates/Toml/examples.php
Due: none

feat: Add TOML validation template
  plugins/Sandbox/templates/Toml/validation.php
Due: none

feat: Add URL parameter support to TOML playground
  plugins/Sandbox/templates/Toml/index.php
Due: none

fix: Use correct php-collective/toml API in TomlController
  plugins/Sandbox/src/Controller/TomlController.php
Due: Sandbox Plugin

feat: Add TOML to main navigation menu
  templates/element/navigation.php
Due: none
