Repository dereuromark/cakephp-sandbox: changes, and which Codecov flags are due for each by the changed paths.
All: App, Sandbox Plugin, AuthSandbox Plugin, StateMachineSandbox Plugin

Fix tile provider: pass tileLayer config to map() instead of addTileLayer.
  plugins/Sandbox/templates/GeoExamples/leaflet.php
Due: none

Remove stadia_satellite (requires paid plan).
  plugins/Sandbox/src/Controller/GeoExamplesController.php
Due: Sandbox Plugin

Add Leaflet helper annotation.
  src/View/AppView.php
Due: App

Remove deprecated setAccessible() call (no-op since PHP 8.1).
  plugins/Sandbox/tests/TestCase/Model/Filter/ProductsCollectionTest.php
Due: none

Fix MiscController::dtoProjection - add auth allow, template, and disableErrorHandler.
  config/auth_allow.ini
  templates/Misc/dto_projection.php
  tests/TestCase/Controller/MiscControllerTest.php
Due: none

Add LeafletHelper demo for Geo plugin (#106)
  composer.lock
  config/auth_allow.ini
  plugins/Sandbox/src/Controller/DtoExamplesController.php
  plugins/Sandbox/src/Controller/GeoExamplesController.php
  plugins/Sandbox/templates/GeoExamples/index.php
  plugins/Sandbox/templates/GeoExamples/leaflet.php
  plugins/Sandbox/templates/element/navigation/geo.php
  plugins/Sandbox/tests/TestCase/Controller/GeoExamplesControllerTest.php
  plugins/Sandbox/tests/TestCase/Model/Filter/ProductsCollectionTest.php
  src/View/AppView.php
  templates/Misc/dto_projection.php
  tests/TestCase/Controller/MiscControllerTest.php
Due: App, Sandbox Plugin

Remove duplicate MiscController::dtoProjection (use Sandbox.DtoExamples instead).
  config/auth_allow.ini
  src/Controller/MiscController.php
  templates/Misc/dto_projection.php
  tests/TestCase/Controller/MiscControllerTest.php
Due: App

Remove duplicate MiscController::dtoProjection (use Sandbox.DtoExamples instead). (#107)
  config/auth_allow.ini
  src/Controller/MiscController.php
  templates/Misc/dto_projection.php
  tests/TestCase/Controller/MiscControllerTest.php
Due: App

Add StaticMapHelper demo for Geo plugin
  composer.lock
  plugins/Sandbox/src/Controller/GeoExamplesController.php
  plugins/Sandbox/templates/GeoExamples/static_maps.php
  plugins/Sandbox/templates/element/navigation/geo.php
  plugins/Sandbox/tests/TestCase/Controller/GeoExamplesControllerTest.php
Due: Sandbox Plugin

Update dep.
  composer.lock
  src/View/AppView.php
Due: App

Add StaticMapHelper demo for Geo plugin (#108)
  composer.lock
  plugins/Sandbox/src/Controller/GeoExamplesController.php
  plugins/Sandbox/templates/GeoExamples/static_maps.php
  plugins/Sandbox/templates/element/navigation/geo.php
  plugins/Sandbox/tests/TestCase/Controller/GeoExamplesControllerTest.php
  src/View/AppView.php
Due: App, Sandbox Plugin

Fix StaticMap examples for cross-provider compatibility
  plugins/Sandbox/templates/GeoExamples/static_maps.php
Due: none

Update dep.
  composer.lock
  plugins/Sandbox/templates/DtoExamples/benchmark_run.php
Due: none

Update dep.
  composer.lock
  plugins/Sandbox/templates/GeoExamples/static_maps.php
Due: none

Add cluster example.
  composer.lock
  plugins/Sandbox/templates/GeoExamples/leaflet.php
Due: none

Enable spatial filtering for Geo examples
  config/Migrations/20260125100000_SandboxSpatial.php
  config/Migrations/Testing/20231104184640_SandboxSpatial.php
  plugins/Sandbox/src/Controller/GeoExamplesController.php
  plugins/Sandbox/templates/GeoExamples/filter.php
Due: Sandbox Plugin

Enable spatial filtering for Geo examples (#109)
  config/Migrations/20260125100000_SandboxSpatial.php
  config/Migrations/Testing/20231104184640_SandboxSpatial.php
  plugins/Sandbox/src/Controller/GeoExamplesController.php
  plugins/Sandbox/templates/GeoExamples/filter.php
Due: Sandbox Plugin

Replace MySQL triggers with model callback for coordinates sync
  config/Migrations/20260125100000_SandboxSpatial.php
  plugins/Sandbox/src/Model/Table/SandboxCitiesTable.php
Due: Sandbox Plugin

Fix spatial tests and seed for cross-database compatibility
  config/Migrations/20260125100000_SandboxSpatial.php
  config/Seeds/CitiesSeed.php
  plugins/Sandbox/src/Model/Table/SandboxCitiesTable.php
Due: Sandbox Plugin

Update seed commands to new API (bin/cake seeds run)
  CLAUDE.md
  SETUP.md
  install.sh
  setup.sh
Due: none

Fix spatial tests and seed for cross-database compatibility (#110)
  CLAUDE.md
  SETUP.md
  config/Migrations/20260125100000_SandboxSpatial.php
  config/Seeds/CitiesSeed.php
  install.sh
  plugins/Sandbox/src/Model/Table/SandboxCitiesTable.php
  setup.sh
Due: Sandbox Plugin

Fix spatial index not being used in MySQL 8.0+
  config/Migrations/20260125100000_SandboxSpatial.php
  plugins/Sandbox/src/Controller/GeoExamplesController.php
  plugins/Sandbox/templates/GeoExamples/filter.php
Due: Sandbox Plugin

Update dep.
  composer.json
  composer.lock
Due: none

Update dep.
  composer.json
  composer.lock
  plugins/Sandbox/src/Dto/Github/BaseDto.php
  plugins/Sandbox/src/Dto/Github/HeadDto.php
  plugins/Sandbox/src/Dto/Github/LabelDto.php
  plugins/Sandbox/src/Dto/Github/PullRequestDto.php
  plugins/Sandbox/src/Dto/Github/RepoDto.php
  plugins/Sandbox/src/Dto/Github/UserDto.php
  plugins/Sandbox/src/Dto/SandboxUserProjectionDto.php
Due: Sandbox Plugin

Update dep.
  composer.json
  src/Dto/ArticleBenchmarkDto.php
  src/Dto/AuthorBenchmarkDto.php
  src/Dto/CommentBenchmarkDto.php
  src/Dto/MatchingDataDto.php
  src/Dto/PostDto.php
  src/Dto/RoleProjectionDto.php
  src/Dto/SimpleRoleBasicDto.php
  src/Dto/SimpleRoleDto.php
  src/Dto/SimpleUserBasicDto.php
  src/Dto/SimpleUserDto.php
  src/Dto/TagDto.php
  src/Dto/TaggedDto.php
  src/Dto/UserProjectionDto.php
  src/Dto/UserSimpleProjectionDto.php
  src/Dto/UserWithMatchingDto.php
  src/Dto/UserWithMatchingTypedDto.php
Due: App

Fix inconsistent docblock indentation in generated DTOs
  plugins/Sandbox/src/Dto/Github/BaseDto.php
  plugins/Sandbox/src/Dto/Github/HeadDto.php
  plugins/Sandbox/src/Dto/Github/LabelDto.php
  plugins/Sandbox/src/Dto/Github/PullRequestDto.php
  plugins/Sandbox/src/Dto/Github/RepoDto.php
  plugins/Sandbox/src/Dto/Github/UserDto.php
  plugins/Sandbox/src/Dto/SandboxUserProjectionDto.php
  src/Dto/ArticleBenchmarkDto.php
  src/Dto/AuthorBenchmarkDto.php
  src/Dto/CommentBenchmarkDto.php
  src/Dto/MatchingDataDto.php
  src/Dto/PostDto.php
  src/Dto/RoleProjectionDto.php
  src/Dto/SimpleRoleBasicDto.php
  src/Dto/SimpleRoleDto.php
  src/Dto/SimpleUserBasicDto.php
  src/Dto/SimpleUserDto.php
  src/Dto/TagDto.php
  src/Dto/TaggedDto.php
  src/Dto/UserProjectionDto.php
  src/Dto/UserSimpleProjectionDto.php
  src/Dto/UserWithMatchingDto.php
  src/Dto/UserWithMatchingTypedDto.php
Due: App, Sandbox Plugin

Add native type declarations to generated DTOs
  plugins/Sandbox/src/Dto/Github/BaseDto.php
  plugins/Sandbox/src/Dto/Github/HeadDto.php
  plugins/Sandbox/src/Dto/Github/LabelDto.php
  plugins/Sandbox/src/Dto/Github/PullRequestDto.php
  plugins/Sandbox/src/Dto/Github/RepoDto.php
  plugins/Sandbox/src/Dto/Github/UserDto.php
  plugins/Sandbox/src/Dto/SandboxUserProjectionDto.php
  src/Dto/ArticleBenchmarkDto.php
  src/Dto/AuthorBenchmarkDto.php
  src/Dto/CommentBenchmarkDto.php
  src/Dto/MatchingDataDto.php
  src/Dto/PostDto.php
  src/Dto/RoleProjectionDto.php
  src/Dto/SimpleRoleBasicDto.php
  src/Dto/SimpleRoleDto.php
  src/Dto/SimpleUserBasicDto.php
  src/Dto/SimpleUserDto.php
  src/Dto/TagDto.php
  src/Dto/TaggedDto.php
  src/Dto/UserProjectionDto.php
  src/Dto/UserSimpleProjectionDto.php
  src/Dto/UserWithMatchingDto.php
  src/Dto/UserWithMatchingTypedDto.php
Due: App, Sandbox Plugin

Update dep.
  composer.lock
  plugins/Sandbox/src/Dto/Github/BaseDto.php
  plugins/Sandbox/src/Dto/Github/HeadDto.php
  plugins/Sandbox/src/Dto/Github/LabelDto.php
  plugins/Sandbox/src/Dto/Github/PullRequestDto.php
  plugins/Sandbox/src/Dto/Github/RepoDto.php
  plugins/Sandbox/src/Dto/Github/UserDto.php
  plugins/Sandbox/src/Dto/SandboxUserProjectionDto.php
  src/Dto/ArticleBenchmarkDto.php
  src/Dto/AuthorBenchmarkDto.php
  src/Dto/CommentBenchmarkDto.php
  src/Dto/MatchingDataDto.php
  src/Dto/PostDto.php
  src/Dto/RoleProjectionDto.php
  src/Dto/SimpleRoleBasicDto.php
  src/Dto/SimpleRoleDto.php
  src/Dto/SimpleUserBasicDto.php
  src/Dto/SimpleUserDto.php
  src/Dto/TagDto.php
  src/Dto/TaggedDto.php
  src/Dto/UserProjectionDto.php
  src/Dto/UserSimpleProjectionDto.php
  src/Dto/UserWithMatchingDto.php
  src/Dto/UserWithMatchingTypedDto.php
Due: App, Sandbox Plugin

Remove unused dependencies
  composer.json
  composer.lock
Due: none

Add jitter to worker MAX_REQUESTS to prevent thundering herd restarts.
  webroot/worker.php
Due: none

Migrate SqlFormatter usage from jdorn/sql-formatter to doctrine/sql-formatter
  plugins/Sandbox/src/Controller/GeoExamplesController.php
  plugins/Sandbox/src/Controller/ToolsExamplesController.php
  plugins/Sandbox/templates/GeoExamples/filter.php
  plugins/Sandbox/templates/ToolsExamples/bitmask_search.php
Due: Sandbox Plugin

Use HtmlHighlighter for SQL formatting with proper color output
  plugins/Sandbox/src/Controller/GeoExamplesController.php
  plugins/Sandbox/src/Controller/ToolsExamplesController.php
  plugins/Sandbox/templates/ToolsExamples/bitmask_search.php
Due: Sandbox Plugin

Update dep.
  plugins/Sandbox/src/Model/Filter/EmptyValuesTestFilterCollection.php
  resources/data/countries.csv
Due: Sandbox Plugin

Add phone codes to countries seed data and fix empty string vs NULL
  config/Seeds/CountriesSeed.php
Due: none

Make CountriesSeed idempotent by deleting existing rows first
  config/Seeds/CountriesSeed.php
Due: none

Use table truncate() instead of raw DELETE for idempotent seed
  config/Seeds/CountriesSeed.php
Due: none

Mark CountriesSeed as idempotent via isIdempotent()
  config/Seeds/CountriesSeed.php
Due: none

Use upsert pattern instead of truncate for idempotent CountriesSeed
  config/Seeds/CountriesSeed.php
Due: none

Fetch all existing IDs in single query instead of per-row lookup
  config/Seeds/CountriesSeed.php
Due: none

Path conditions:
  App: any of: src/**, but not: tests/**, config/**, webroot/**, bin/**, vendor/**, templates/**, **/tests/**
  Sandbox Plugin: any of: plugins/Sandbox/src/**, but not: tests/**, config/**, webroot/**, bin/**, vendor/**, templates/**, **/tests/**
  AuthSandbox Plugin: any of: plugins/AuthSandbox/src/**, but not: tests/**, config/**, webroot/**, bin/**, vendor/**, templates/**, **/tests/**
  StateMachineSandbox Plugin: any of: plugins/StateMachineSandbox/src/**, but not: tests/**, config/**, webroot/**, bin/**, vendor/**, templates/**, **/tests/**
