Repository dereuromark/cakephp-sandbox: changes, and which Codecov flags are due for each by the changed paths.
All: App, Sandbox Plugin, AuthSandbox Plugin, StateMachineSandbox Plugin

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
        paths:
          - "src/**"
          - "plugins/**/src/**"
    patch:
      default:
        target: auto

# Ignore paths
ignore:
  - "tests/**"
  - "config/**"
  - "webroot/**"
  - "bin/**"
  - "vendor/**"
  - "templates/**"
  - "**/tests/**"

# Component-based coverage
component_management:
  individual_components:
    - component_id: app
      name: App
      paths:
        - "src/**"
    - component_id: sandbox
      name: Sandbox Plugin
      paths:
        - "plugins/Sandbox/src/**"
    - component_id: auth_sandbox
      name: AuthSandbox Plugin
      paths:
        - "plugins/AuthSandbox/src/**"
    - component_id: state_machine_sandbox
      name: StateMachineSandbox Plugin
      paths:
        - "plugins/StateMachineSandbox/src/**"

Bouncer tests: build pending state via table layer to keep one request per test
  plugins/Sandbox/tests/TestCase/Controller/BouncerExamplesControllerTest.php
Due: none

Migrate factory annotations to 1.4 generic-extends form
  plugins/Sandbox/tests/Factory/BitmaskedRecordFactory.php
  plugins/Sandbox/tests/Factory/BouncerRecordFactory.php
  plugins/Sandbox/tests/Factory/EventFactory.php
  plugins/Sandbox/tests/Factory/ExposedUserFactory.php
  plugins/Sandbox/tests/Factory/SandboxAnimalFactory.php
  plugins/Sandbox/tests/Factory/SandboxArticleFactory.php
  plugins/Sandbox/tests/Factory/SandboxCategoryFactory.php
  plugins/Sandbox/tests/Factory/SandboxCityFactory.php
  plugins/Sandbox/tests/Factory/SandboxPostFactory.php
  plugins/Sandbox/tests/Factory/SandboxProductFactory.php
  plugins/Sandbox/tests/Factory/SandboxProfileFactory.php
  plugins/Sandbox/tests/Factory/SandboxRatingFactory.php
  plugins/Sandbox/tests/Factory/SandboxUserFactory.php
  plugins/WorkflowSandbox/tests/Factory/ContentFactory.php
  plugins/WorkflowSandbox/tests/Factory/DocumentFactory.php
  plugins/WorkflowSandbox/tests/Factory/OrderFactory.php
  plugins/WorkflowSandbox/tests/Factory/PaymentFactory.php
  plugins/WorkflowSandbox/tests/Factory/RegistrationFactory.php
  plugins/WorkflowSandbox/tests/Factory/TicketFactory.php
  tests/Factory/AuditLogFactory.php
  tests/Factory/CaptchaFactory.php
  tests/Factory/CommentFactory.php
  tests/Factory/CountryFactory.php
  tests/Factory/FavoriteFactory.php
  tests/Factory/QueueProcessFactory.php
  tests/Factory/QueuedJobFactory.php
  tests/Factory/RoleFactory.php
  tests/Factory/StateFactory.php
  tests/Factory/TagFactory.php
  tests/Factory/TaggedFactory.php
  tests/Factory/UserFactory.php
Due: none

Drop redundant static get() override on UserFactory
  tests/Factory/UserFactory.php
Due: none

Use build() were memory is fine, no need to persist.
  plugins/AuthSandbox/tests/TestCase/Controller/Admin/AuthSandboxControllerTest.php
  plugins/AuthSandbox/tests/TestCase/Controller/AuthSandboxControllerTest.php
  tests/TestCase/Controller/AccountControllerTest.php
  tests/TestCase/Controller/Admin/OverviewControllerTest.php
Due: none

Showcase v2 fixture-factory API + dedup CountryFactory
  composer.lock
  tests/Factory/CountryFactory.php
  tests/Factory/UserFactory.php
  tests/TestCase/Factory/FactoryShowcaseTest.php
Due: none

Finish.
  composer.json
  composer.lock
Due: none

Add explicit project name.
  docker/docker-compose.yml
Due: none

Apply strict annotations.
  composer.lock
  config/app_custom.php
  plugins/Sandbox/src/Model/Table/BitmaskedRecordsTable.php
  plugins/Sandbox/src/Model/Table/DemoArticlesTable.php
  plugins/Sandbox/src/Model/Table/EventsTable.php
  plugins/Sandbox/src/Model/Table/ExposedUsersTable.php
  plugins/Sandbox/src/Model/Table/ProductsTable.php
  plugins/Sandbox/src/Model/Table/SandboxArticlesTable.php
  plugins/Sandbox/src/Model/Table/SandboxCategoriesTable.php
  plugins/Sandbox/src/Model/Table/SandboxCitiesTable.php
  plugins/Sandbox/src/Model/Table/SandboxPostsTable.php
  plugins/Sandbox/src/Model/Table/SandboxProfilesTable.php
  plugins/Sandbox/src/Model/Table/SandboxRatingsTable.php
  plugins/Sandbox/src/Model/Table/SandboxUsersTable.php
  plugins/WorkflowSandbox/src/Model/Table/ContentsTable.php
  plugins/WorkflowSandbox/src/Model/Table/DocumentsTable.php
  plugins/WorkflowSandbox/src/Model/Table/OrdersTable.php
  plugins/WorkflowSandbox/src/Model/Table/PaymentsTable.php
  plugins/WorkflowSandbox/src/Model/Table/RegistrationsTable.php
  plugins/WorkflowSandbox/src/Model/Table/TicketsTable.php
  src/Model/Table/RolesTable.php
  src/Model/Table/UsersTable.php
Due: App, Sandbox Plugin

Apply class-level docblock tag order to existing files
  plugins/Sandbox/src/Model/Entity/Event.php
  plugins/Sandbox/src/Model/Entity/SandboxPost.php
  plugins/Sandbox/src/Model/Table/BitmaskedRecordsTable.php
  plugins/Sandbox/src/Model/Table/CountryRecordsTable.php
  plugins/Sandbox/src/Model/Table/DemoArticlesTable.php
  plugins/Sandbox/src/Model/Table/EventsTable.php
  plugins/Sandbox/src/Model/Table/ExposedUsersTable.php
  plugins/Sandbox/src/Model/Table/ProductsTable.php
  plugins/Sandbox/src/Model/Table/SandboxArticlesTable.php
  plugins/Sandbox/src/Model/Table/SandboxCategoriesTable.php
  plugins/Sandbox/src/Model/Table/SandboxPostsTable.php
  plugins/WorkflowSandbox/src/Model/Table/ContentsTable.php
  plugins/WorkflowSandbox/src/Model/Table/DocumentsTable.php
  plugins/WorkflowSandbox/src/Model/Table/OrdersTable.php
  plugins/WorkflowSandbox/src/Model/Table/PaymentsTable.php
  plugins/WorkflowSandbox/src/Model/Table/RegistrationsTable.php
  plugins/WorkflowSandbox/src/Model/Table/TicketsTable.php
  src/Model/Entity/Role.php
  src/Model/Table/RolesTable.php
  src/Model/Table/UsersTable.php
  tests/TestCase/Controller/AccountControllerTest.php
  tests/TestCase/Controller/Admin/UsersControllerTest.php
Due: App, Sandbox Plugin

Apply class-level docblock tag order to existing files (#126)
  plugins/Sandbox/src/Model/Entity/Event.php
  plugins/Sandbox/src/Model/Entity/SandboxPost.php
  plugins/Sandbox/src/Model/Table/BitmaskedRecordsTable.php
  plugins/Sandbox/src/Model/Table/CountryRecordsTable.php
  plugins/Sandbox/src/Model/Table/DemoArticlesTable.php
  plugins/Sandbox/src/Model/Table/EventsTable.php
  plugins/Sandbox/src/Model/Table/ExposedUsersTable.php
  plugins/Sandbox/src/Model/Table/ProductsTable.php
  plugins/Sandbox/src/Model/Table/SandboxArticlesTable.php
  plugins/Sandbox/src/Model/Table/SandboxCategoriesTable.php
  plugins/Sandbox/src/Model/Table/SandboxPostsTable.php
  plugins/WorkflowSandbox/src/Model/Table/ContentsTable.php
  plugins/WorkflowSandbox/src/Model/Table/DocumentsTable.php
  plugins/WorkflowSandbox/src/Model/Table/OrdersTable.php
  plugins/WorkflowSandbox/src/Model/Table/PaymentsTable.php
  plugins/WorkflowSandbox/src/Model/Table/RegistrationsTable.php
  plugins/WorkflowSandbox/src/Model/Table/TicketsTable.php
  src/Model/Entity/Role.php
  src/Model/Table/RolesTable.php
  src/Model/Table/UsersTable.php
  tests/TestCase/Controller/AccountControllerTest.php
  tests/TestCase/Controller/Admin/UsersControllerTest.php
Due: App, Sandbox Plugin

Apply annotation ordering manually.
  plugins/Sandbox/src/Model/Table/BitmaskedRecordsTable.php
  plugins/Sandbox/src/Model/Table/DemoArticlesTable.php
  plugins/Sandbox/src/Model/Table/EventsTable.php
  plugins/Sandbox/src/Model/Table/ExposedUsersTable.php
  plugins/Sandbox/src/Model/Table/ProductsTable.php
  plugins/Sandbox/src/Model/Table/SandboxArticlesTable.php
  plugins/Sandbox/src/Model/Table/SandboxCategoriesTable.php
  plugins/Sandbox/src/Model/Table/SandboxPostsTable.php
  plugins/WorkflowSandbox/src/Model/Table/ContentsTable.php
  plugins/WorkflowSandbox/src/Model/Table/DocumentsTable.php
  plugins/WorkflowSandbox/src/Model/Table/OrdersTable.php
  plugins/WorkflowSandbox/src/Model/Table/PaymentsTable.php
  plugins/WorkflowSandbox/src/Model/Table/RegistrationsTable.php
  plugins/WorkflowSandbox/src/Model/Table/TicketsTable.php
  src/Model/Table/RolesTable.php
  src/Model/Table/UsersTable.php
Due: App, Sandbox Plugin

Apply docblock tag inner ordering to non-entity files.
  phpcs.xml
  plugins/AuthSandbox/src/Controller/Admin/AuthSandboxController.php
  plugins/Sandbox/src/Controller/CommentExamplesController.php
  plugins/Sandbox/src/Controller/DtoExamplesController.php
  plugins/Sandbox/src/Controller/FavoriteExamplesController.php
  plugins/Sandbox/src/Controller/RatingsController.php
  plugins/Sandbox/src/Controller/SearchExamplesController.php
  plugins/Sandbox/src/Controller/TagsController.php
  plugins/Sandbox/src/Model/Table/SandboxCitiesTable.php
  plugins/Sandbox/src/Model/Table/SandboxProfilesTable.php
  plugins/Sandbox/src/Model/Table/SandboxRatingsTable.php
  plugins/Sandbox/src/Model/Table/SandboxUsersTable.php
  plugins/WorkflowSandbox/src/Model/Table/ContentsTable.php
  plugins/WorkflowSandbox/src/Model/Table/DocumentsTable.php
  plugins/WorkflowSandbox/src/Model/Table/TicketsTable.php
  src/Controller/AppController.php
  src/View/AppView.php
  src/View/Helper/FormHelper.php
Due: App, Sandbox Plugin, AuthSandbox Plugin

Update php-collective/code-sniffer to dev-master with InnerOrderInvalid rule.
  composer.lock
Due: none

Apply docblock tag inner ordering to non-entity files (#127)
  composer.lock
  phpcs.xml
  plugins/AuthSandbox/src/Controller/Admin/AuthSandboxController.php
  plugins/Sandbox/src/Controller/CommentExamplesController.php
  plugins/Sandbox/src/Controller/DtoExamplesController.php
  plugins/Sandbox/src/Controller/FavoriteExamplesController.php
  plugins/Sandbox/src/Controller/RatingsController.php
  plugins/Sandbox/src/Controller/SearchExamplesController.php
  plugins/Sandbox/src/Controller/TagsController.php
  plugins/Sandbox/src/Model/Table/SandboxCitiesTable.php
  plugins/Sandbox/src/Model/Table/SandboxProfilesTable.php
  plugins/Sandbox/src/Model/Table/SandboxRatingsTable.php
  plugins/Sandbox/src/Model/Table/SandboxUsersTable.php
  plugins/WorkflowSandbox/src/Model/Table/ContentsTable.php
  plugins/WorkflowSandbox/src/Model/Table/DocumentsTable.php
  plugins/WorkflowSandbox/src/Model/Table/TicketsTable.php
  src/Controller/AppController.php
  src/View/AppView.php
  src/View/Helper/FormHelper.php
Due: App, Sandbox Plugin, AuthSandbox Plugin

Update dep.
  composer.lock
Due: none

Remove dead model annotations from admin AuthSandboxController.
  plugins/AuthSandbox/src/Controller/Admin/AuthSandboxController.php
Due: AuthSandbox Plugin

Move AJAX and DTO partials to elements
  plugins/Sandbox/templates/AjaxExamples/endless_scroll.php
  plugins/Sandbox/templates/AjaxExamples/endless_scroll_container.php
  plugins/Sandbox/templates/AjaxExamples/pagination.php
  plugins/Sandbox/templates/AjaxExamples/pagination_container.php
  plugins/Sandbox/templates/DtoExamples/github.php
  plugins/Sandbox/templates/element/AjaxExamples/endless_scroll_container.php
  plugins/Sandbox/templates/element/AjaxExamples/endless_scroll_pagination.php
  plugins/Sandbox/templates/element/AjaxExamples/pagination_container.php
  plugins/Sandbox/templates/element/DtoExamples/pr.php
Due: none

Drop unused $countries docblock from wrapper templates
  plugins/Sandbox/templates/AjaxExamples/endless_scroll_container.php
  plugins/Sandbox/templates/AjaxExamples/pagination_container.php
Due: none

Move AJAX and DTO partials to elements (cake 5.3.2 compat) (#128)
  plugins/Sandbox/templates/AjaxExamples/endless_scroll.php
  plugins/Sandbox/templates/AjaxExamples/endless_scroll_container.php
  plugins/Sandbox/templates/AjaxExamples/pagination.php
  plugins/Sandbox/templates/AjaxExamples/pagination_container.php
  plugins/Sandbox/templates/DtoExamples/github.php
  plugins/Sandbox/templates/element/AjaxExamples/endless_scroll_container.php
  plugins/Sandbox/templates/element/AjaxExamples/endless_scroll_pagination.php
  plugins/Sandbox/templates/element/AjaxExamples/pagination_container.php
  plugins/Sandbox/templates/element/DtoExamples/pr.php
Due: none

Update dep.
  composer.json
  composer.lock
  phpstan.neon
  plugins/Sandbox/src/Model/Table/AnimalsTable.php
  plugins/Sandbox/src/Model/Table/BitmaskedRecordsTable.php
  plugins/Sandbox/src/Model/Table/CountryRecordsTable.php
  plugins/Sandbox/src/Model/Table/DemoArticlesTable.php
  plugins/Sandbox/src/Model/Table/EventsTable.php
  plugins/Sandbox/src/Model/Table/ExposedUsersTable.php
  plugins/Sandbox/src/Model/Table/ProductsTable.php
  plugins/Sandbox/src/Model/Table/SandboxArticlesTable.php
  plugins/Sandbox/src/Model/Table/SandboxCategoriesTable.php
  plugins/Sandbox/src/Model/Table/SandboxCitiesTable.php
  plugins/Sandbox/src/Model/Table/SandboxPostsTable.php
  plugins/Sandbox/src/Model/Table/SandboxProfilesTable.php
  plugins/Sandbox/src/Model/Table/SandboxUsersTable.php
  plugins/WorkflowSandbox/src/Model/Table/ContentsTable.php
  plugins/WorkflowSandbox/src/Model/Table/DocumentsTable.php
  plugins/WorkflowSandbox/src/Model/Table/OrdersTable.php
  plugins/WorkflowSandbox/src/Model/Table/PaymentsTable.php
  plugins/WorkflowSandbox/src/Model/Table/RegistrationsTable.php
  plugins/WorkflowSandbox/src/Model/Table/TicketsTable.php
  src/Model/Table/RolesTable.php
  src/Model/Table/UsersTable.php
Due: App, Sandbox Plugin

Fix CS
  composer.lock
  config/app_custom.php
  plugins/Sandbox/src/Controller/BootstrapController.php
  plugins/Sandbox/src/Controller/CakeExamplesController.php
  plugins/Sandbox/src/Controller/CaptchasController.php
  plugins/Sandbox/src/Controller/JqueryExamplesController.php
  plugins/Sandbox/src/Controller/JsExamplesController.php
  plugins/Sandbox/src/Controller/LocalizedController.php
  plugins/Sandbox/src/Controller/ToolsExamplesController.php
  plugins/Sandbox/src/Model/Table/SandboxAnimalsTable.php
  plugins/Sandbox/src/Model/Table/SandboxCitiesTable.php
  plugins/Sandbox/src/Model/Table/SandboxProfilesTable.php
  plugins/Sandbox/src/Model/Table/SandboxUsersTable.php
Due: Sandbox Plugin

Fix lostPassword action and unskip its test.
  phpstan.neon
  src/Controller/AccountController.php
  templates/email/text/lost_password.php
  tests/TestCase/Controller/AccountControllerTest.php
  tests/bootstrap.php
Due: App

Fix lostPassword action and unskip its test. (#129)
  phpstan.neon
  src/Controller/AccountController.php
  templates/email/text/lost_password.php
  tests/TestCase/Controller/AccountControllerTest.php
  tests/bootstrap.php
Due: App

Add tests
  config/auth_allow.ini
  phpunit.xml.dist
  tests/TestCase/Healthcheck/Check/Tools/GraphvizCheckTest.php
Due: none

Assoc check tool.
  composer.lock
  config/auth_allow.ini
Due: none

Cover MiscController::_process and fix broken indent/outdent
  phpstan.neon
  src/Controller/MiscController.php
  tests/TestCase/Controller/MiscControllerTest.php
Due: App

Cover MiscController::_process and fix broken indent/outdent (#130)
  phpstan.neon
  src/Controller/MiscController.php
  tests/TestCase/Controller/MiscControllerTest.php
Due: App

Djot
  composer.lock
  plugins/Sandbox/src/Controller/DjotController.php
  plugins/Sandbox/templates/Djot/index.php
  plugins/Sandbox/tests/TestCase/Controller/DjotControllerTest.php
Due: Sandbox Plugin

Require markup-carve/carve-php for the Carve playground
  composer.json
  composer.lock
  plugins/Sandbox/src/Controller/CarveController.php
Due: Sandbox Plugin

Add CarveController mirroring DjotController
  plugins/Sandbox/src/Controller/CarveController.php
Due: Sandbox Plugin

Add Carve playground templates, navigation, tests and auth allow
  config/auth_allow.ini
  plugins/Sandbox/templates/Carve/bbcode_to_carve.php
  plugins/Sandbox/templates/Carve/complex_examples.php
  plugins/Sandbox/templates/Carve/djot_to_carve.php
  plugins/Sandbox/templates/Carve/extensions.php
  plugins/Sandbox/templates/Carve/html_to_carve.php
  plugins/Sandbox/templates/Carve/index.php
  plugins/Sandbox/templates/Carve/markdown_to_carve.php
  plugins/Sandbox/templates/Carve/wysiwyg.php
  plugins/Sandbox/templates/Sandbox/index.php
  plugins/Sandbox/templates/element/navigation/carve.php
  plugins/Sandbox/tests/TestCase/Controller/CarveControllerTest.php
Due: none

Preserve aria-labelledby and HTML comments in sanitized preview
  plugins/Sandbox/src/Controller/CarveController.php
  plugins/Sandbox/src/Controller/DjotController.php
  plugins/Sandbox/tests/TestCase/Controller/CarveControllerTest.php
  plugins/Sandbox/tests/TestCase/Controller/DjotControllerTest.php
Due: Sandbox Plugin

Switch Carve playground to blocksInterruptParagraphs option
  composer.json
  composer.lock
  plugins/Sandbox/src/Controller/CarveController.php
  plugins/Sandbox/templates/Carve/index.php
  plugins/Sandbox/tests/TestCase/Controller/CarveControllerTest.php
Due: Sandbox Plugin

Resolve markup-carve/carve-php from dev-main (drop temporary branch pin)
  composer.json
  composer.lock
Due: none

Add Carve to the main navigation menu
  templates/element/navigation.php
Due: none

Show superscript stays unchanged in the Djot to Carve sample
  plugins/Sandbox/templates/Carve/djot_to_carve.php
Due: none
