Repository dereuromark/cakephp-sandbox: changes, and which Codecov flags are due for each by the changed paths.
All: App, Sandbox Plugin, AuthSandbox Plugin, StateMachineSandbox Plugin

Fix CS
  src/Application.php
Due: App

Fix CS
  src/Http/Middleware/MissingControllerMiddleware.php
Due: App

Add bbcode parsing example.
  plugins/Sandbox/src/Controller/DjotController.php
  plugins/Sandbox/templates/Djot/bbcode_to_djot.php
  plugins/Sandbox/templates/Djot/markdown_to_djot.php
  plugins/Sandbox/templates/element/navigation/djot.php
  plugins/Sandbox/tests/TestCase/Controller/DjotControllerTest.php
Due: Sandbox Plugin

add graphviz check.
  .ddev.franken.example/web-build/Dockerfile.frankenphp
  config/app_custom.php
  src/Healthcheck/Check/Tools/GraphvizCheck.php
Due: App

add session defaults.
  .ddev.example/php/session.ini
Due: none

Add graphviz to Docker image
  docker/Dockerfile
Due: none

update dep.
  composer.lock
Due: none

Configure FrankenPHP for sandbox5 as primary deployment
  build.sh
  docker/Caddyfile
  docker/Dockerfile
  docker/check_queue.sh
  docker/docker-compose.yml
Due: none

update new infos.
  plugins/Sandbox/templates/Sandbox/index.php
  templates/Overview/index.php
Due: none

Move Mercure JWT keys to .env file
  docker/.env.example
  docker/docker-compose.yml
Due: none

Update dep
  composer.json
  composer.lock
Due: none

Djot examples.
  plugins/Sandbox/templates/Djot/index.php
  plugins/Sandbox/templates/MarkupExamples/djot.php
Due: none

version info.
  plugins/Sandbox/src/Controller/DjotController.php
  plugins/Sandbox/templates/Djot/index.php
Due: Sandbox Plugin

version info.
  plugins/Sandbox/src/Controller/DjotController.php
Due: Sandbox Plugin

version info.
  composer.json
  composer.lock
Due: none

Add tests and polish DTO projection demo for CakePHP 5.3
  src/Controller/DtoProjectionController.php
  src/Controller/MiscController.php
  src/Dto/ArticleBenchmarkDto.php
  src/Dto/AuthorBenchmarkDto.php
  src/Dto/CommentBenchmarkDto.php
  src/Dto/MatchingDataDto.php
  src/Dto/PostDto.php
  src/Dto/RoleProjectionDto.php
  src/Dto/SimpleRoleDto.php
  src/Dto/SimpleUserDto.php
  src/Dto/TagDto.php
  src/Dto/TaggedDto.php
  src/Dto/UserProjectionDto.php
  src/Dto/UserSimpleProjectionDto.php
  src/Dto/UserWithMatchingDto.php
  src/Dto/UserWithMatchingDtoTyped.php
  templates/DtoProjection/benchmark.php
  templates/DtoProjection/index.php
  templates/Misc/dto_projection.php
  tests/TestCase/Controller/DtoProjectionControllerTest.php
  tests/TestCase/Controller/MiscControllerTest.php
Due: App

Update composer.lock to include admad/entity
  composer.lock
Due: none

Fix composer.lock: add admad/entity, fix migrations version
  composer.lock
Due: none

Regenerate SandboxUserProjectionDto
  plugins/Sandbox/src/Dto/SandboxUserProjectionDto.php
Due: Sandbox Plugin

Regenerate DTOs with upstream PHPStan fixes
  plugins/Sandbox/src/Dto/SandboxUserProjectionDto.php
  src/Dto/UserProjectionDto.php
Due: App, Sandbox Plugin

Convert all projection DTOs to generated DTOs
  config/dto/projection.dto.xml
  src/Controller/DtoProjectionController.php
  src/Dto/MatchingDataDto.php
  src/Dto/PostDto.php
  src/Dto/SimpleRoleBasicDto.php
  src/Dto/SimpleUserBasicDto.php
  src/Dto/SimpleUserDto.php
  src/Dto/TagDto.php
  src/Dto/UserWithMatchingDto.php
  src/Dto/UserWithMatchingDtoTyped.php
  src/Dto/UserWithMatchingTypedDto.php
Due: App

update dep
  composer.lock
Due: none

Fix template annotations and class name references
  templates/DtoProjection/belongs_to_many.php
  templates/DtoProjection/has_many.php
  templates/DtoProjection/index.php
  templates/DtoProjection/matching.php
Due: none

Exclude src/Dto/ from CS checks (auto-generated)
  phpcs.xml
Due: none

Update to cakephp-dto with collection adapter pattern
  composer.json
  composer.lock
  plugins/Sandbox/src/Dto/Github/BaseDto.php
  plugins/Sandbox/src/Dto/Github/HeadDto.php
  plugins/Sandbox/src/Dto/Github/LabelDto.php
  plugins/Sandbox/src/Dto/Github/PullRequestDto.php
  plugins/Sandbox/src/Dto/Github/RepoDto.php
  plugins/Sandbox/src/Dto/Github/UserDto.php
  plugins/Sandbox/src/Dto/SandboxUserProjectionDto.php
  src/Dto/ArticleBenchmarkDto.php
  src/Dto/AuthorBenchmarkDto.php
  src/Dto/CommentBenchmarkDto.php
  src/Dto/MatchingDataDto.php
  src/Dto/PostDto.php
  src/Dto/RoleProjectionDto.php
  src/Dto/SimpleRoleBasicDto.php
  src/Dto/SimpleRoleDto.php
  src/Dto/SimpleUserBasicDto.php
  src/Dto/SimpleUserDto.php
  src/Dto/TagDto.php
  src/Dto/TaggedDto.php
  src/Dto/UserProjectionDto.php
  src/Dto/UserSimpleProjectionDto.php
  src/Dto/UserWithMatchingDto.php
  src/Dto/UserWithMatchingTypedDto.php
Due: App, Sandbox Plugin

Cleanup.
  composer.json
  composer.lock
Due: none

Add DTO projection demo with projectAs() examples (#102)
  composer.json
  composer.lock
  config/auth_allow.ini
  config/dto/projection.dto.xml
  phpcs.xml
  plugins/Sandbox/config/dto.xml
  plugins/Sandbox/src/Dto/Github/BaseDto.php
  plugins/Sandbox/src/Dto/Github/HeadDto.php
  plugins/Sandbox/src/Dto/Github/PullRequestDto.php
  plugins/Sandbox/src/Dto/Github/RepoDto.php
  plugins/Sandbox/src/Dto/Github/UserDto.php
  plugins/Sandbox/src/Dto/SandboxUserProjectionDto.php
  src/Controller/DtoProjectionController.php
  src/Controller/MiscController.php
  src/Dto/ArticleBenchmarkDto.php
  src/Dto/AuthorBenchmarkDto.php
  src/Dto/CommentBenchmarkDto.php
  src/Dto/MatchingDataDto.php
  src/Dto/PostDto.php
  src/Dto/RoleProjectionDto.php
  src/Dto/SimpleRoleBasicDto.php
  src/Dto/SimpleRoleDto.php
  src/Dto/SimpleUserBasicDto.php
  src/Dto/SimpleUserDto.php
  src/Dto/TagDto.php
  src/Dto/TaggedDto.php
  src/Dto/UserProjectionDto.php
  src/Dto/UserSimpleProjectionDto.php
  src/Dto/UserWithMatchingDto.php
  src/Dto/UserWithMatchingTypedDto.php
  templates/DtoProjection/belongs_to_many.php
  templates/DtoProjection/benchmark.php
  templates/DtoProjection/has_many.php
  templates/DtoProjection/index.php
  templates/DtoProjection/matching.php
  templates/Misc/dto_projection.php
  tests/TestCase/Controller/DtoProjectionControllerTest.php
  tests/TestCase/Controller/MiscControllerTest.php
Due: App, Sandbox Plugin

Cleanup.
  composer.lock
  config/auth_allow.ini
  plugins/Sandbox/src/Controller/DtoExamplesController.php
  plugins/Sandbox/templates/DtoExamples/projection.php
  plugins/Sandbox/templates/DtoExamples/projection_belongs_to_many.php
  plugins/Sandbox/templates/DtoExamples/projection_has_many.php
  plugins/Sandbox/templates/DtoExamples/projection_matching.php
  plugins/Sandbox/templates/element/navigation/dto.php
  plugins/Sandbox/tests/TestCase/Controller/DtoExamplesControllerTest.php
  src/Controller/DtoProjectionController.php
  src/Dto/ArticleBenchmarkDto.php
  src/Dto/AuthorBenchmarkDto.php
  src/Dto/CommentBenchmarkDto.php
  src/Dto/MatchingDataDto.php
  src/Dto/PostDto.php
  src/Dto/RoleProjectionDto.php
  src/Dto/SimpleRoleBasicDto.php
  src/Dto/SimpleRoleDto.php
  src/Dto/SimpleUserBasicDto.php
  src/Dto/SimpleUserDto.php
  src/Dto/TagDto.php
  src/Dto/TaggedDto.php
  src/Dto/UserProjectionDto.php
  src/Dto/UserSimpleProjectionDto.php
  src/Dto/UserWithMatchingDto.php
  src/Dto/UserWithMatchingTypedDto.php
  templates/DtoProjection/belongs_to_many.php
  templates/DtoProjection/benchmark.php
  templates/DtoProjection/has_many.php
  templates/DtoProjection/index.php
  templates/DtoProjection/matching.php
  templates/Misc/dto_projection.php
  templates/Overview/index.php
  tests/TestCase/Controller/DtoProjectionControllerTest.php
Due: App, Sandbox Plugin

performance info.
  .github/workflows/ci.yml
  composer.json
  composer.lock
  plugins/Sandbox/src/Controller/DtoExamplesController.php
  plugins/Sandbox/templates/element/navigation/dto.php
  plugins/Sandbox/tests/TestCase/Controller/DtoExamplesControllerTest.php
Due: Sandbox Plugin

performance info.
  plugins/Sandbox/templates/DtoExamples/benchmark.php
Due: none

performance info.
  plugins/Sandbox/src/Controller/DtoExamplesController.php
  plugins/Sandbox/templates/DtoExamples/benchmark.php
  plugins/Sandbox/templates/DtoExamples/benchmark_run.php
  plugins/Sandbox/templates/element/navigation/dto.php
  plugins/Sandbox/tests/TestCase/Controller/DtoExamplesControllerTest.php
Due: Sandbox Plugin

Add LeafletHelper demo for Geo plugin.
  composer.lock
  plugins/Sandbox/src/Controller/GeoExamplesController.php
  plugins/Sandbox/templates/GeoExamples/index.php
  plugins/Sandbox/templates/GeoExamples/leaflet.php
  plugins/Sandbox/templates/element/navigation/geo.php
  plugins/Sandbox/tests/TestCase/Controller/GeoExamplesControllerTest.php
Due: Sandbox Plugin

Fix PHPStan errors and missing echo for Leaflet maps.
  plugins/Sandbox/src/Controller/DtoExamplesController.php
  plugins/Sandbox/templates/GeoExamples/leaflet.php
Due: Sandbox Plugin

Fix dark theme (call useTilePreset before map) and polyline coords.
  plugins/Sandbox/templates/GeoExamples/leaflet.php
Due: none

Add tile provider dropdown with 13 free providers.
  plugins/Sandbox/templates/GeoExamples/leaflet.php
Due: none

Fix map variable name (map3 not lMap3).
  plugins/Sandbox/templates/GeoExamples/leaflet.php
Due: none

Refactor tile provider demo to server-side with query string switch.
  plugins/Sandbox/src/Controller/GeoExamplesController.php
  plugins/Sandbox/templates/GeoExamples/leaflet.php
Due: Sandbox Plugin

Path conditions:
  App: any of: src/**, but not: tests/**, config/**, webroot/**, bin/**, vendor/**, templates/**, **/tests/**
  Sandbox Plugin: any of: plugins/Sandbox/src/**, but not: tests/**, config/**, webroot/**, bin/**, vendor/**, templates/**, **/tests/**
  AuthSandbox Plugin: any of: plugins/AuthSandbox/src/**, but not: tests/**, config/**, webroot/**, bin/**, vendor/**, templates/**, **/tests/**
  StateMachineSandbox Plugin: any of: plugins/StateMachineSandbox/src/**, but not: tests/**, config/**, webroot/**, bin/**, vendor/**, templates/**, **/tests/**
