Repository dereuromark/cakephp-sandbox: changes, and which Codecov flags are due for each by the changed paths.
All: App, Sandbox Plugin, AuthSandbox Plugin, StateMachineSandbox Plugin

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
        paths:
          - "src/**"
          - "plugins/**/src/**"
    patch:
      default:
        target: auto

# Ignore paths
ignore:
  - "tests/**"
  - "config/**"
  - "webroot/**"
  - "bin/**"
  - "vendor/**"
  - "templates/**"
  - "**/tests/**"

# Component-based coverage
component_management:
  individual_components:
    - component_id: app
      name: App
      paths:
        - "src/**"
    - component_id: sandbox
      name: Sandbox Plugin
      paths:
        - "plugins/Sandbox/src/**"
    - component_id: auth_sandbox
      name: AuthSandbox Plugin
      paths:
        - "plugins/AuthSandbox/src/**"
    - component_id: state_machine_sandbox
      name: StateMachineSandbox Plugin
      paths:
        - "plugins/StateMachineSandbox/src/**"

toml updates.
  composer.lock
Due: none

Add table-entity generics support
  composer.json
  composer.lock
  config/app_custom.php
  src/Model/Table/RolesTable.php
  src/Model/Table/UsersTable.php
Due: App

Fix CS.
  composer.json
  composer.lock
Due: none

Fix PHPStan.
  plugins/Sandbox/src/Controller/DjotController.php
Due: Sandbox Plugin

Fix CS.
  composer.lock
Due: none

tags plugin example.
  composer.lock
  config/auth_acl.ini
  config/plugins.php
Due: none

tags plugin example.
  composer.lock
Due: none

Fix CS
  composer.json
  composer.lock
  config/routes.php
  plugins/Sandbox/tests/Fixture/BitmaskedRecordsFixture.php
  plugins/Sandbox/tests/Fixture/ExposedUsersFixture.php
Due: none

Update dep.
  composer.lock
Due: none

Update dep.
  composer.lock
  plugins/Sandbox/src/Model/Filter/SandboxPostsCollection.php
Due: Sandbox Plugin

Update file upload dep.
  composer.json
  composer.lock
  config/app_custom.php
  plugins/Sandbox/src/FileStorage/Processor/PdfThumbnailProcessor.php
Due: Sandbox Plugin

Add table-entity generics support
  config/app_custom.php
  src/Model/Table/RolesTable.php
  src/Model/Table/UsersTable.php
Due: App

Add table-entity generics support (#118)
  config/app_custom.php
  src/Model/Table/RolesTable.php
  src/Model/Table/UsersTable.php
Due: App

Bump Mercure default JWT secret placeholder to 32+ bytes
  .ddev.franken.example/docker-compose.mercure.yaml.example
  config/app_mercure.default.php
Due: none

Refresh annotations after enabling tableEntityQuery
  plugins/Sandbox/src/Model/Entity/SandboxCity.php
  plugins/Sandbox/src/Model/Table/BitmaskedRecordsTable.php
  plugins/Sandbox/src/Model/Table/DemoArticlesTable.php
  plugins/Sandbox/src/Model/Table/EventsTable.php
  plugins/Sandbox/src/Model/Table/ExposedUsersTable.php
  plugins/Sandbox/src/Model/Table/ProductsTable.php
  plugins/Sandbox/src/Model/Table/SandboxArticlesTable.php
  plugins/Sandbox/src/Model/Table/SandboxCategoriesTable.php
  plugins/Sandbox/src/Model/Table/SandboxCitiesTable.php
  plugins/Sandbox/src/Model/Table/SandboxPostsTable.php
  plugins/Sandbox/src/Model/Table/SandboxProfilesTable.php
  plugins/Sandbox/src/Model/Table/SandboxRatingsTable.php
  plugins/Sandbox/src/Model/Table/SandboxUsersTable.php
  plugins/Sandbox/templates/GeoExamples/filter.php
  plugins/Sandbox/templates/Toml/examples.php
  plugins/Sandbox/templates/ToolsExamples/bitmask_search.php
  plugins/WorkflowSandbox/src/Model/Entity/Content.php
  plugins/WorkflowSandbox/src/Model/Entity/Document.php
  plugins/WorkflowSandbox/src/Model/Entity/Order.php
  plugins/WorkflowSandbox/src/Model/Entity/Payment.php
  plugins/WorkflowSandbox/src/Model/Entity/Registration.php
  plugins/WorkflowSandbox/src/Model/Entity/Ticket.php
  plugins/WorkflowSandbox/src/Model/Table/ContentsTable.php
  plugins/WorkflowSandbox/src/Model/Table/DocumentsTable.php
  plugins/WorkflowSandbox/src/Model/Table/OrdersTable.php
  plugins/WorkflowSandbox/src/Model/Table/PaymentsTable.php
  plugins/WorkflowSandbox/src/Model/Table/RegistrationsTable.php
  plugins/WorkflowSandbox/src/Model/Table/TicketsTable.php
  plugins/WorkflowSandbox/templates/Contents/index.php
  plugins/WorkflowSandbox/templates/Documents/index.php
  plugins/WorkflowSandbox/templates/Orders/index.php
  plugins/WorkflowSandbox/templates/Payments/index.php
  plugins/WorkflowSandbox/templates/Registrations/index.php
  plugins/WorkflowSandbox/templates/Tickets/index.php
Due: Sandbox Plugin

Refresh annotations after enabling tableEntityQuery (#119)
  plugins/Sandbox/src/Model/Entity/SandboxCity.php
  plugins/Sandbox/src/Model/Table/BitmaskedRecordsTable.php
  plugins/Sandbox/src/Model/Table/DemoArticlesTable.php
  plugins/Sandbox/src/Model/Table/EventsTable.php
  plugins/Sandbox/src/Model/Table/ExposedUsersTable.php
  plugins/Sandbox/src/Model/Table/ProductsTable.php
  plugins/Sandbox/src/Model/Table/SandboxArticlesTable.php
  plugins/Sandbox/src/Model/Table/SandboxCategoriesTable.php
  plugins/Sandbox/src/Model/Table/SandboxCitiesTable.php
  plugins/Sandbox/src/Model/Table/SandboxPostsTable.php
  plugins/Sandbox/src/Model/Table/SandboxProfilesTable.php
  plugins/Sandbox/src/Model/Table/SandboxRatingsTable.php
  plugins/Sandbox/src/Model/Table/SandboxUsersTable.php
  plugins/Sandbox/templates/GeoExamples/filter.php
  plugins/Sandbox/templates/Toml/examples.php
  plugins/Sandbox/templates/ToolsExamples/bitmask_search.php
  plugins/WorkflowSandbox/src/Model/Entity/Content.php
  plugins/WorkflowSandbox/src/Model/Entity/Document.php
  plugins/WorkflowSandbox/src/Model/Entity/Order.php
  plugins/WorkflowSandbox/src/Model/Entity/Payment.php
  plugins/WorkflowSandbox/src/Model/Entity/Registration.php
  plugins/WorkflowSandbox/src/Model/Entity/Ticket.php
  plugins/WorkflowSandbox/src/Model/Table/ContentsTable.php
  plugins/WorkflowSandbox/src/Model/Table/DocumentsTable.php
  plugins/WorkflowSandbox/src/Model/Table/OrdersTable.php
  plugins/WorkflowSandbox/src/Model/Table/PaymentsTable.php
  plugins/WorkflowSandbox/src/Model/Table/RegistrationsTable.php
  plugins/WorkflowSandbox/src/Model/Table/TicketsTable.php
  plugins/WorkflowSandbox/templates/Contents/index.php
  plugins/WorkflowSandbox/templates/Documents/index.php
  plugins/WorkflowSandbox/templates/Orders/index.php
  plugins/WorkflowSandbox/templates/Payments/index.php
  plugins/WorkflowSandbox/templates/Registrations/index.php
  plugins/WorkflowSandbox/templates/Tickets/index.php
Due: Sandbox Plugin

Doc.
  composer.lock
Due: none

Fixes
  plugins/Sandbox/templates/AuditStash/index.php
  plugins/Sandbox/templates/AuditStash/view_log.php
Due: none

Showcase audit-stash custom action events
  plugins/Sandbox/src/Controller/AuditStashController.php
  plugins/Sandbox/templates/AuditStash/index.php
  plugins/Sandbox/templates/AuditStash/view_log.php
Due: Sandbox Plugin

Use escapeTitle instead of escape on Html->link / Form->postLink
  plugins/Sandbox/templates/Calendar/view.php
  plugins/Sandbox/templates/Djot/complex_examples.php
  plugins/Sandbox/templates/QueueExamples/scheduling.php
  plugins/Sandbox/templates/Toml/examples.php
  plugins/Sandbox/templates/ToolsExamples/redirect_test.php
  plugins/Sandbox/templates/element/comments/comments.php
  templates/element/navigation.php
Due: none

Use escapeTitle instead of escape on Html->link / Form->postLink (#121)
  plugins/Sandbox/templates/Calendar/view.php
  plugins/Sandbox/templates/Djot/complex_examples.php
  plugins/Sandbox/templates/QueueExamples/scheduling.php
  plugins/Sandbox/templates/Toml/examples.php
  plugins/Sandbox/templates/ToolsExamples/redirect_test.php
  plugins/Sandbox/templates/element/comments/comments.php
  templates/element/navigation.php
Due: none

Wire showcase to merged audit-stash master
  composer.lock
  config/app_custom.php
  config/auth_acl.ini
Due: none

Finish new audit stash.
  composer.lock
  config/app_custom.php
Due: none

Showcase audit-stash custom action events (#120)
  composer.lock
  config/app_custom.php
  config/auth_acl.ini
  plugins/Sandbox/src/Controller/AuditStashController.php
  plugins/Sandbox/templates/AuditStash/index.php
  plugins/Sandbox/templates/AuditStash/view_log.php
Due: Sandbox Plugin

Wire DatabaseLog.adminAccess + Queue.adminAccess gates
  config/app_custom.php
Due: none

Wire QueueScheduler.adminAccess gate
  config/app_custom.php
Due: none

Wire QueueScheduler.adminAccess gate (#122)
  config/app_custom.php
Due: none

Finish new audit stash.
  templates/Admin/Overview/index.php
Due: none

Chore/admin gates (#123)
  templates/Admin/Overview/index.php
Due: none

Wire Translate.adminAccess gate
  templates/Admin/Overview/index.php
Due: none

Finish new admin links.
  templates/Admin/Overview/index.php
Due: none

Wire Translate.adminAccess gate
  config/app_custom.php
Due: none

Finish new admin links.
  composer.lock
Due: none

Finish new admin links.
  config/auth_acl.ini
Due: none

Wire adminBackUrl on DatabaseLog, Bouncer, AuditStash
  config/app_custom.php
Due: none

Wire adminBackUrl across remaining plugin admin backends
  config/app_custom.php
Due: none

Finish new admin links.
  composer.lock
  config/app_custom.php
  config/auth_acl.ini
  templates/Admin/Overview/index.php
Due: none

Silence SearchExamples range warnings; fix factory defaults for SQLite
  plugins/Sandbox/tests/Factory/SandboxAnimalFactory.php
  plugins/Sandbox/tests/Factory/SandboxProductFactory.php
  plugins/Sandbox/tests/TestCase/Controller/SearchExamplesControllerTest.php
Due: none

Fill coverage gaps surfaced by factories
  plugins/AuthSandbox/tests/TestCase/Controller/AuthSandboxControllerTest.php
  plugins/Sandbox/tests/TestCase/Controller/AuditStashControllerTest.php
  plugins/Sandbox/tests/TestCase/Controller/BouncerExamplesControllerTest.php
  plugins/Sandbox/tests/TestCase/Controller/FileStorageExamplesControllerTest.php
  plugins/Sandbox/tests/TestCase/Model/Table/BitmaskedRecordsTableTest.php
  plugins/Sandbox/tests/TestCase/Model/Table/ExposedUsersTableTest.php
  plugins/Sandbox/tests/TestCase/Model/Table/SandboxArticlesTableTest.php
  plugins/WorkflowSandbox/config/Migrations/20260329000000_WorkflowSandboxInit.php
  plugins/WorkflowSandbox/src/Controller/ContentsController.php
  plugins/WorkflowSandbox/src/Controller/DocumentsController.php
  plugins/WorkflowSandbox/src/Controller/OrdersController.php
  plugins/WorkflowSandbox/src/Controller/PaymentsController.php
  plugins/WorkflowSandbox/src/Controller/RegistrationsController.php
  plugins/WorkflowSandbox/src/Controller/TicketsController.php
  plugins/WorkflowSandbox/templates/Tickets/view.php
  plugins/WorkflowSandbox/tests/Factory/ContentFactory.php
  plugins/WorkflowSandbox/tests/Factory/DocumentFactory.php
  plugins/WorkflowSandbox/tests/Factory/OrderFactory.php
  plugins/WorkflowSandbox/tests/Factory/PaymentFactory.php
  plugins/WorkflowSandbox/tests/Factory/RegistrationFactory.php
  plugins/WorkflowSandbox/tests/Factory/TicketFactory.php
  plugins/WorkflowSandbox/tests/TestCase/Controller/ContentsControllerTest.php
  plugins/WorkflowSandbox/tests/TestCase/Controller/DocumentsControllerTest.php
  plugins/WorkflowSandbox/tests/TestCase/Controller/OrdersControllerTest.php
  plugins/WorkflowSandbox/tests/TestCase/Controller/PaymentsControllerTest.php
  plugins/WorkflowSandbox/tests/TestCase/Controller/RegistrationsControllerTest.php
  plugins/WorkflowSandbox/tests/TestCase/Controller/TicketsControllerTest.php
  tests/Factory/AuditLogFactory.php
  tests/Factory/UserFactory.php
  tests/TestCase/Controller/AccountControllerTest.php
  tests/TestCase/Controller/Admin/UsersControllerTest.php
  tests/TestCase/Controller/ExportControllerTest.php
  tests/bootstrap.php
Due: none
